In [1]:
from functools import reduce
import gc
import numpy as np

"""
STVM 계산(3차로 점선) + 지상부 추가 _ 분석시간 증가
    집계시간 : 5분
    분석시간 1800~6900
    검지기 : 280개
"""
import pandas as pd

import os


# FIX 값 모음
###################################################################################################################
start_interval = 1800
end_interval = 6900

weights = {
    "w1" : 1,
    "w2" : 1,
    "w3" : 1,
    "w4" : 1,
    "w5" : 1,
    "w6" : 1
}

vehicle_types = [100, 300, 630, 640, 650]
######## 검지기 #############
# 지상부_진입 검지기(결과 데이터는 지상부_진입의 6번째 데이터 부터 들어가므로 해당 검지기를 선정함)
enter_line = 6

# 본선부 검지기
main_line = 60

# 지상부_진출 검지기
exit_line = 275
############################


######## 램프 ###############
# 유입램프
input_ramp = 59

# 유출램프
output_ramp = 61
############################

######## 구간 ###############
# 진입부_지상
entry_point = [i for i in range(6,11)]

# 본선부
middle_point = [i for i in range(41,241)]

# 진출부_ 지상
exit_point = [i for i in range(271,276)]
############################

###################################################################################################################

# 함수 모음
###################################################################################################################

# 평균속도
def speed_mean(original_df):
    copy_df = original_df.copy()
    # TimeGroup, New_Measurement별 그룹화 및 속도 평균
    speed_mean_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement"])
          .agg(V_mean=("v[km/h]", "mean"), V_count=("v[km/h]", "count"))
          .reset_index()
    )
    speed_mean_df["V_next"] = speed_mean_df.groupby("TimeGroup")["V_mean"].shift(-1)
    speed_mean_df["delta_V"] = (speed_mean_df["V_next"] - speed_mean_df["V_mean"]) / speed_mean_df["V_mean"]
    speed_mean_df["delta_V"] = speed_mean_df["delta_V"].fillna(0)
    return speed_mean_df

# 밀도
def density_mean(original_df):
    copy_df = original_df.copy()
    density_mean_df = copy_df.assign(K = copy_df["V_count"] * 12 / copy_df["V_mean"])
    density_mean_df["K_next"] = density_mean_df.groupby("TimeGroup")["K"].shift(-1)
    density_mean_df["delta_K"] = (density_mean_df["K_next"] - density_mean_df["K"]) / density_mean_df["K"]
    density_mean_df["delta_K"] = density_mean_df["delta_K"].fillna(0)
    return density_mean_df

# 가중 중차량 비율
def heavy_rate(original_df):
    copy_df = original_df.copy()
    # 진입부 검지기 선정
    measurement = enter_line

    heavy_df = (
        copy_df[copy_df["Vehicle type"].isin([630, 640, 650])]
        .groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="heavy_count")
    )

    # TimeGroup별 총 차량 갯수 집계
    total_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="total_count")
    )

    heavy_rate_df = pd.merge(
        heavy_df,
        total_df,
        on=["TimeGroup", "New_Measurement"],
        how="left"
    )

    heavy_rate_df["rate"] = heavy_rate_df["heavy_count"] / heavy_rate_df["total_count"]
    return heavy_rate_df


# 진입 포화도
def entry_saturation(original_df):
    copy_df = original_df.copy()

    # 실측용량 C
    max_capacity = 6600
    entry_saturation_df = (
        # 진입부에서 유입된 교통량이므로 진입부 중 한 개의 검지기를 선정하여 측정
        copy_df[copy_df["New_Measurement"] == enter_line]
        .groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="entry_volume")  # 차량 수를 entry_volume이라는 컬럼명으로
    )

    # 단위가 대/시 이기 때문에 현재 5분집계 * 12
    entry_saturation_df["Phi_진입"] = entry_saturation_df["entry_volume"] * 12 / max_capacity
    return entry_saturation_df


# 램프 유출입 비율
def rfr_rate(original_df):
    """
    1. 본선 1개의 검지기 data 수집(New_Measurement = 60)
    2. 위의 검지기 앞, 뒤 검지기 data (59 / 61)
    3. RFR 연산
    """
    main_df = (
        original_df[original_df["New_Measurement"] == main_line] # 60
        .groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="main_line")
    )
    input_df = (
        original_df[original_df["New_Measurement"] == input_ramp] # 59
        .groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="input_ramp")
    )
    output_df = (
        original_df[original_df["New_Measurement"] == output_ramp] # 61
        .groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="output_ramp")
    )
    #main_df["RFR"] = (input_df["input_ramp"] + output_df["output_ramp"])/main_df["main_line"]
    # 유출램프 구현이 안 됐기 때문에 0값으로 fix
    main_df["RFR"] = 0
    return main_df

# 유출 정상성 비율
def output_normality(original_df):
    copy_df = original_df.copy()
    # 6번 검지기(지상부_진입)에 들어온 차량의 번호, 시간
    entry_df = copy_df[copy_df["New_Measurement"] == enter_line][["VehNo", "t(Entry)"]]

    # 265번 검지기(지상부_진입)에 들어온 차량의 번호, 시간
    exit_df = copy_df[copy_df["New_Measurement"] == exit_line][["VehNo", "t(Entry)"]]

    # 차량 번호로 그룹화 후 시간의 최솟값(중복제거)
    entry_first = (
        entry_df.groupby("VehNo")["t(Entry)"].min()
        .reset_index()  # Series → DataFrame
        .rename(columns={"t(Entry)": "t_entry"})
    )
    exit_first = (
        exit_df.groupby("VehNo")["t(Entry)"].min()
        .reset_index()
        .rename(columns={"t(Entry)": "t_exit"})
    )

    # 지연시간
    merged = pd.merge(entry_first, exit_first, on="VehNo", how="inner")
    merged["delay_sec"] = merged["t_exit"] - merged["t_entry"]
    merged = merged[merged["delay_sec"] >= 0]  # 음수 제거

    # 지연시간(중앙값) → lag_bins
    if len(merged) and np.isfinite(np.nanmedian(merged["delay_sec"])): # delay_sec의 값이 유효하면
        lag_bins = int(round(np.nanmedian(merged["delay_sec"]) / 300)) # 단위시간으로 나눴을 때의 중간값 => 3(900초) => 진입한 차량이 진출을 통과하는데 평균 900초가 걸림
    else:
        lag_bins = 0  # 데이터 부족 시 동시간 매칭

    # TimeGroup별 진입/유출 카운트 집계
    entry_count = (original_df[original_df["New_Measurement"] == enter_line]
                .groupby("TimeGroup").size().reset_index(name="Q_in"))
    exit_count  = (original_df[original_df["New_Measurement"] == exit_line]
                .groupby("TimeGroup").size().reset_index(name="Q_out"))

    merged_counts = pd.merge(entry_count, exit_count, on="TimeGroup", how="left")

    # Q_out을 지연 시간만큼 shift
    merged_counts["Q_out_shift"] = merged_counts["Q_out"].shift(-lag_bins)

    # 1−F(outrate) 계산
    merged_counts["F(outrate)"] = (merged_counts["Q_out_shift"] / merged_counts["Q_in"]).fillna(0)
    merged_counts["1-F(outrate)"] = 1 - merged_counts["F(outrate)"]

    display("merged_counts : ", merged_counts)
    return merged_counts


def calculate_stvm(speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df):


    # TimeGroup 기준으로  Merge
    merged_df = (
    speed_df[["TimeGroup", "New_Measurement", "delta_V"]]
    .merge(density_df[["TimeGroup", "New_Measurement", "delta_K"]], on=["TimeGroup", "New_Measurement"])
    .merge(heavy_df[["TimeGroup", "New_Measurement", "rate"]], on=["TimeGroup", "New_Measurement"])
    .merge(entry_saturation_df[["TimeGroup", "Phi_진입"]], on="TimeGroup")
    .merge(rfr_df[["TimeGroup", "RFR"]], on="TimeGroup")
    .merge(normality_df[["TimeGroup", "1-F(outrate)"]], on="TimeGroup")
    )

    merged_df["StartTime"] = merged_df["TimeGroup"].str.split("~").str[0].astype(int)
    merged_df = merged_df[merged_df["StartTime"] < 5400]

    merged_df["STVM"] = (
        weights["w1"] * merged_df["delta_V"] +
        weights["w2"] * merged_df["delta_K"] +
        weights["w3"] * merged_df["rate"] +
        weights["w4"] * merged_df["Phi_진입"] +
        weights["w5"] * merged_df["RFR"] +
        weights["w6"] * merged_df["1-F(outrate)"]
    )
    merged_df = modify_frame(merged_df)
    return merged_df


def calculate_z_score(stvm_df):
    copy_df = stvm_df.copy()

    # 평균
    mean_stvm = copy_df["STVM"].mean(skipna=True)

    # 표준편차
    std_stvm = copy_df["STVM"].std(skipna=True)

    # Z-Score 계산
    copy_df["Z-Score"] = (copy_df["STVM"] - mean_stvm) / std_stvm
    z_max = copy_df["Z-Score"].max()
    z_min = copy_df["Z-Score"].min()

    copy_df["환산점수"] = copy_df["Z-Score"].apply(lambda z : z_to_score(z, z_min, z_max))

    stvm_df = pd.pivot(copy_df, index="TimeGroup", columns= "New_Measurement", values="환산점수")
    return stvm_df

def modify_frame(df):
    # 지상부 1~5, 276~280 제거
    modify_df = df.copy()
    remove_values = list(range(1, 6)) + list(range(276, 281))

    modify_df = modify_df[~modify_df["New_Measurement"].isin(remove_values)]
    modify_df["New_Measurement"] = modify_df["New_Measurement"].apply(
        lambda x: -5 + (x - 6) if 6 <= x <= 10 else (x - 10 if x >= 11 else x)
    )
    return modify_df

def calculate_avg(df):

    def avg_range(df, low, high):
        cols = [c for c in df.columns if low <= c <= high]
        return df[cols].mean(axis=1) if cols else np.nan

    avg_df = pd.DataFrame(index=df.index)
    avg_df["지상부_진입"] = avg_range(df, -5, -1)
    avg_df["진입부"] = avg_range(df, 1, 30)
    avg_df["본선부"] = avg_range(df, 31, 230)
    avg_df["진출부"] = avg_range(df, 231, 260)
    avg_df["지상부_진출"] = avg_range(df, 261, 265)

    return avg_df


def variable_timegroup_avg(stvm_df):
    copy_df = stvm_df.copy()
    variable_time_df = copy_df.groupby("TimeGroup")[["delta_V", "delta_K", "rate", "Phi_진입", "RFR", "1-F(outrate)"]].mean()
    return variable_time_df

def variable_total_avg(variable_df):
    variable_total_df = pd.DataFrame([variable_df.mean(numeric_only=True)])
    return variable_total_df

def speed_density_avg(density_df):
    copy_df = density_df.copy()
    avg_df = modify_frame(copy_df)
    avg_df = pd.DataFrame([avg_df.mean(numeric_only=True)])
    avg_df = avg_df[["V_mean", "K"]]
    return avg_df

def pivot_table(df, value, preprocess=None):
    copy_df = df.copy()
    if preprocess :
        copy_df = preprocess(copy_df)
    return copy_df.pivot(index="TimeGroup", columns="New_Measurement", values=value)

def weighted_avg_speed(original_df):
    copy_df = original_df.copy()
    # TimeGroup, New_Measurement별 그룹화 및 속도 평균
    speed_mean_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement", "Vehicle type"])
          .agg(V_mean=("v[km/h]", "mean"), V_count=("v[km/h]", "count"))
          .reset_index()
    )
    speed_mean_df["std_group"] = speed_mean_df.groupby(["TimeGroup", "New_Measurement"])["V_mean"].transform(lambda s: s.std(ddof=0))
    speed_mean_df["cv"] = speed_mean_df["std_group"] / speed_mean_df["V_mean"]
    speed_mean_df["w"] = 1 / speed_mean_df["cv"]
    speed_mean_df["w*v"] = speed_mean_df["w"] * speed_mean_df["V_mean"]

    weighted_result = (
        speed_mean_df.groupby(["TimeGroup","New_Measurement"])
          .apply(lambda g: g["w*v"].sum() / g["w"].sum())
          .reset_index(name="Weighted_Avg_Speed")
    )

    return weighted_result

def save_to_excel(excel_df, folder_path, file_name, i):
        excel_folder_path = os.path.join(folder_path, file_name)
        os.makedirs(excel_folder_path, exist_ok=True)
        excel_file_name = f"{file_name}_{i+1}.xlsx"
        excel_file_path = os.path.join(excel_folder_path, excel_file_name)
        excel_df.to_excel(excel_file_path, index=True)
        print(f"{excel_file_name} 생성 완료")

def z_to_score(z, z_min, z_max):
    if 1.645 <= z <= z_max:
        return 50 + ((95 + 5 * ((z - 1.645) / (z_max - 1.645))) * 0.5)
    elif 1.282 <= z < 1.645:
        return 50 + ((90 + 5 * ((z - 1.282) / (1.645 - 1.282))) * 0.5)
    elif 1.038 <= z < 1.282:
        return 50 + ((85 + 5 * ((z - 1.038) / (1.282 - 1.038))) * 0.5)
    elif 0.842 <= z < 1.038:
        return 50 + ((80 + 5 * ((z - 0.842) / (1.038 - 0.842))) * 0.5)
    elif 0.676 <= z < 0.842:
        return 50 + ((75 + 5 * ((z - 0.676) / (0.842 - 0.676))) * 0.5)
    elif 0.526 <= z < 0.676:
        return 50 + ((70 + 5 * ((z - 0.526) / (0.676 - 0.526))) * 0.5)
    elif 0.387 <= z < 0.526:
        return 50 + ((65 + 5 * ((z - 0.387) / (0.526 - 0.387))) * 0.5)
    elif 0.255 <= z < 0.387:
        return 50 + ((60 + 5 * ((z - 0.255) / (0.387 - 0.255))) * 0.5)
    elif -0.255 <= z < 0.255:
        return 50 + ((40 + 5 * ((z + 0.255) / (0.255 + 0.255))) * 0.5)
    elif -0.387 <= z < -0.255:
        return 50 + ((35 + 5 * ((z + 0.387) / (-0.255 + 0.387))) * 0.5)
    elif -0.526 <= z < -0.387:
        return 50 + ((30 + 5 * ((z + 0.526) / (-0.387 + 0.526))) * 0.5)
    elif -0.676 <= z < -0.526:
        return 50 + ((25 + 5 * ((z + 0.676) / (-0.676 + 0.842))) * 0.5)
    elif -0.842 <= z < -0.676:
        return 50 + ((20 + 5 * ((z + 0.842) / (-0.676 + 0.842))) * 0.5)
    elif -1.038 <= z < -0.842:
        return 50 + ((15 + 5 * ((z + 1.038) / (-0.842 + 1.038))) * 0.5)
    elif -1.282 <= z < -1.038:
        return 50 + ((10 + 5 * ((z + 1.282) / (-1.038 + 1.282))) * 0.5)
    elif -1.645 <= z < -1.282:
        return 50 + ((5 + 5 * ((z + 1.645) / (-1.282 + 1.645))) * 0.5)
    elif z_min <= z < -1.645:
        return 50 + ((0 + 5 * ((z + z_min) / (-1.645 + z_min))) * 0.5)
    else:
        return np.nan
###################################################################################################################

folder_path = r"C:\VISSIM_Workspace\network_version2.15.0"
mer_list = [file for file in os.listdir(folder_path) if file.endswith(".mer")]

grouped_df = pd.DataFrame()
result_df = pd.DataFrame()


for i in range(len(mer_list)):
    mer_file = mer_list[i]
    with open(os.path.join(folder_path, mer_file), "r", encoding="utf-8", errors="ignore") as file:
            lines = file.readlines()
            # 데이터가 시작하는 인덱스 찾기
            data_start_idx = None

            for j, line in enumerate(lines):
                if "Measurem." in line:  # 컬럼명이 포함된 행 찾기
                    data_start_idx = j
                    break

            # 데이터프레임 생성
            if data_start_idx is not None:

                # 컬럼명 추출 및 공백 제거
                columns = [col.strip() for col in lines[data_start_idx].strip().split(";")]

                # 데이터 부분 추출 및 가공
                data_lines = lines[data_start_idx + 1:]  # 컬럼명 제외, 데이터 부분
                data = [line.strip().split(";") for line in data_lines if line.strip()]

                # 데이터프레임 생성
                df = pd.DataFrame(data, columns=columns)

                # 컬럼 내부 데이터 정수형 변환
                df = df.apply(pd.to_numeric, errors="coerce")

                original_df = df[(df["t(Entry)"] != -1.00)].reset_index(drop=True)


                #불필요 컬럼 제거
                original_df.drop(columns=["b[m/s2]", "tQueue", "Occ", "Pers"], inplace=True, errors="ignore")

                original_df["New_Measurement"] = original_df["Measurem."] % 1000

                bins = np.arange(start_interval, end_interval+1, 300)
                labels = [f"{start}~{start+300}" for start in bins[:-1]]  # 구간 라벨링

                # 구간 나누기 및 컬럼 추가
                original_df["TimeGroup"] = pd.cut(original_df["t(Entry)"], bins=bins, labels=labels, right=False)
                display("original_df : ", original_df)

                # 평균속도
                speed_df = speed_mean(original_df)

                # 밀도
                density_df = density_mean(speed_df)

                # 가중 중차량 비율
                heavy_df = heavy_rate(original_df)

                # 진입 포화도
                entry_saturation_df = entry_saturation(original_df)

                # 램프 유출입 비율
                rfr_df = rfr_rate(original_df)

                # 진출 정상성
                normality_df = output_normality(original_df)

                # STVM 계산
                stvm_df = calculate_stvm(speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df)


                # Z-Score 계산
                z_score_df = calculate_z_score(stvm_df)
                #display("z_score_df : ", z_score_df)
                save_to_excel(z_score_df, folder_path, "환산점수", i)

                # 변수별 TimeGroup별 평균
                variable_time_df = variable_timegroup_avg(stvm_df)
                #save_to_excel(variable_time_df, folder_path, "변수별 평균", i)

                # 변수별 전체 평균
                variable_total_df = variable_total_avg(variable_time_df)
                #save_to_excel(variable_total_df, folder_path, "변수별 총 평균", i)

                # STVM 피봇
                stvm_pivot_df = pivot_table(stvm_df, "STVM")
                #save_to_excel(stvm_pivot_df, folder_path, "STVM", i)

                # 속도, 밀도 전체 평균값
                speed_density_df = speed_density_avg(density_df)
                #save_to_excel(speed_density_df, folder_path, "속도_밀도 평균값", i)

                # 속도 변화 피봇
                delta_speed_pivot_df = pivot_table(speed_df, "delta_V", preprocess=modify_frame)
                #save_to_excel(delta_speed_pivot_df, folder_path, "속도변화량", i)

                # 밀도 변화 피봇
                delta_density_pivot_df = pivot_table(density_df, "delta_K", preprocess=modify_frame)
                #save_to_excel(delta_density_pivot_df, folder_path, "밀도변화량", i)

                # 속도값 피봇
                speed_pivot_df = pivot_table(speed_df, "V_mean", preprocess=modify_frame)
                #save_to_excel(speed_pivot_df, folder_path, "속도값", i)

                # 가중평균속도
                weighted_speed_df = weighted_avg_speed(original_df)
                #weighted_speed_df = pivot_table(weighted_speed_df, "Weighted_Avg_Speed", preprocess=modify_frame)
                #save_to_excel(weighted_speed_df, folder_path, "가중평균속도", i)
                # 메모리 정리
                del df, original_df, speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df, stvm_df, z_score_df
                gc.collect()

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10005,1800.09,-1.0,2952,100,0,103.7,4.21,NaN,5,1800~2100
1,10040,1800.06,-1.0,2745,100,0,97.8,4.64,NaN,40,1800~2100
2,10047,1800.07,-1.0,2708,100,0,97.0,4.61,NaN,47,1800~2100
3,10082,1800.01,-1.0,2523,100,0,101.5,4.61,NaN,82,1800~2100
4,10085,1800.01,-1.0,2506,300,0,100.0,12.40,NaN,85,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2363891,30171,6899.97,-1.0,10381,100,0,96.7,4.64,NaN,171,6600~6900
2363892,30201,6899.95,-1.0,10226,100,0,94.0,3.75,NaN,201,6600~6900
2363893,30211,6899.91,-1.0,10124,100,0,96.7,4.21,NaN,211,6600~6900
2363894,30213,6899.98,-1.0,10108,300,0,73.2,12.40,NaN,213,6600~6900
2363895,30234,6899.99,-1.0,9949,100,0,95.0,4.01,NaN,234,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   493    470        493.0    1.000000      0.000000
1   2100~2400   508    529        468.0    0.921260      0.078740
2   2400~2700   476    472        517.0    1.086134     -0.086134
3   2700~3000   503    493        459.0    0.912525      0.087475
4   3000~3300   450    468        543.0    1.206667     -0.206667
5   3300~3600   533    517        465.0    0.872420      0.127580
6   3600~3900   518    459        523.0    1.009653     -0.009653
7   3900~4200   496    543        558.0    1.125000     -0.125000
8   4200~4500   501    465        452.0    0.902196      0.097804
9   4500~4800   474    523        487.0    1.027426     -0.027426
10  4800~5100   517    558        500.0    0.967118      0.032882
11  5100~5400   454    452        476.0    1.048458     -0.048458
12  5400~5700   500    487        474.0    0.948000      0.052000
13  5700~6000   527    500        514.0    0.975332      0.024668
14  6000~6300   517    476          NaN    0.000000      1.000000
15  6300~6600   498    474          NaN    0.000000      1.000000
16  6600~6900   501    514          NaN    0.000000      1.000000

환산점수_1.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10005,1800.09,-1.0,2952,100,0,103.7,4.21,NaN,5,1800~2100
1,10040,1800.06,-1.0,2745,100,0,97.8,4.64,NaN,40,1800~2100
2,10047,1800.07,-1.0,2708,100,0,97.0,4.61,NaN,47,1800~2100
3,10082,1800.01,-1.0,2523,100,0,101.5,4.61,NaN,82,1800~2100
4,10085,1800.01,-1.0,2506,300,0,100.0,12.40,NaN,85,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2363530,30225,6899.90,-1.0,10093,100,0,95.5,4.01,NaN,225,6600~6900
2363531,30230,6899.91,-1.0,9988,100,0,97.1,4.76,NaN,230,6600~6900
2363532,30237,6899.96,-1.0,9966,100,0,98.9,4.61,NaN,237,6600~6900
2363533,30257,6899.91,-1.0,9907,100,0,65.2,4.36,NaN,257,6600~6900
2363534,30274,6899.96,-1.0,9628,100,0,82.4,4.36,NaN,274,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   493    435        491.0    0.995943      0.004057
1   2100~2400   508    529        458.0    0.901575      0.098425
2   2400~2700   476    509        477.0    1.002101     -0.002101
3   2700~3000   503    491        519.0    1.031809     -0.031809
4   3000~3300   450    458        518.0    1.151111     -0.151111
5   3300~3600   533    477        436.0    0.818011      0.181989
6   3600~3900   518    519        534.0    1.030888     -0.030888
7   3900~4200   496    518        537.0    1.082661     -0.082661
8   4200~4500   501    436        500.0    0.998004      0.001996
9   4500~4800   474    534        480.0    1.012658     -0.012658
10  4800~5100   517    537        467.0    0.903288      0.096712
11  5100~5400   454    500        515.0    1.134361     -0.134361
12  5400~5700   500    480        472.0    0.944000      0.056000
13  5700~6000   527    467        475.0    0.901328      0.098672
14  6000~6300   517    515          NaN    0.000000      1.000000
15  6300~6600   498    472          NaN    0.000000      1.000000
16  6600~6900   501    475          NaN    0.000000      1.000000

환산점수_2.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10005,1800.09,-1.0,2952,100,0,103.7,4.21,NaN,5,1800~2100
1,10040,1800.06,-1.0,2745,100,0,97.8,4.64,NaN,40,1800~2100
2,10047,1800.07,-1.0,2708,100,0,97.0,4.61,NaN,47,1800~2100
3,10082,1800.01,-1.0,2523,100,0,101.5,4.61,NaN,82,1800~2100
4,10085,1800.01,-1.0,2506,300,0,100.0,12.40,NaN,85,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2362637,30242,6899.96,-1.0,9933,100,0,82.7,4.21,NaN,242,6600~6900
2362638,30244,6899.99,-1.0,9900,100,0,68.3,4.61,NaN,244,6600~6900
2362639,30254,6899.96,-1.0,9770,100,0,68.2,3.75,NaN,254,6600~6900
2362640,30259,6899.90,-1.0,9819,100,0,62.1,4.21,NaN,259,6600~6900
2362641,30279,6899.94,-1.0,9573,100,0,96.9,3.75,NaN,279,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   493    480        444.0    0.900609      0.099391
1   2100~2400   508    484        454.0    0.893701      0.106299
2   2400~2700   476    470        519.0    1.090336     -0.090336
3   2700~3000   503    547        513.0    1.019881     -0.019881
4   3000~3300   450    444        438.0    0.973333      0.026667
5   3300~3600   533    454        531.0    0.996248      0.003752
6   3600~3900   518    519        520.0    1.003861     -0.003861
7   3900~4200   496    513        499.0    1.006048     -0.006048
8   4200~4500   501    438        533.0    1.063872     -0.063872
9   4500~4800   474    531        453.0    0.955696      0.044304
10  4800~5100   517    520        504.0    0.974855      0.025145
11  5100~5400   454    499        460.0    1.013216     -0.013216
12  5400~5700   500    533        518.0    1.036000     -0.036000
13  5700~6000   527    453          NaN    0.000000      1.000000
14  6000~6300   517    504          NaN    0.000000      1.000000
15  6300~6600   498    460          NaN    0.000000      1.000000
16  6600~6900   501    518          NaN    0.000000      1.000000

환산점수_3.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10005,1800.09,-1.0,2952,100,0,103.7,4.21,NaN,5,1800~2100
1,10040,1800.06,-1.0,2745,100,0,97.8,4.64,NaN,40,1800~2100
2,10047,1800.07,-1.0,2708,100,0,97.0,4.61,NaN,47,1800~2100
3,10082,1800.01,-1.0,2523,100,0,101.5,4.61,NaN,82,1800~2100
4,10085,1800.01,-1.0,2506,300,0,100.0,12.40,NaN,85,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2303805,30200,6899.93,-1.0,9833,100,0,40.1,4.21,NaN,200,6600~6900
2303806,30230,6899.93,-1.0,9236,100,0,41.0,4.76,NaN,230,6600~6900
2303807,30238,6899.94,-1.0,9092,100,0,49.7,4.64,NaN,238,6600~6900
2303808,30245,6899.98,-1.0,9086,100,0,65.9,4.61,NaN,245,6600~6900
2303809,30280,6899.97,-1.0,8660,100,0,95.4,4.21,NaN,280,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   493    479        442.0    0.896552      0.103448
1   2100~2400   508    448        481.0    0.946850      0.053150
2   2400~2700   476    416        466.0    0.978992      0.021008
3   2700~3000   503    473        433.0    0.860835      0.139165
4   3000~3300   450    459        398.0    0.884444      0.115556
5   3300~3600   533    442        469.0    0.879925      0.120075
6   3600~3900   518    481        427.0    0.824324      0.175676
7   3900~4200   496    466        436.0    0.879032      0.120968
8   4200~4500   501    433        464.0    0.926148      0.073852
9   4500~4800   474    398        458.0    0.966245      0.033755
10  4800~5100   517    469        429.0    0.829787      0.170213
11  5100~5400   454    427        430.0    0.947137      0.052863
12  5400~5700   500    436          NaN    0.000000      1.000000
13  5700~6000   527    464          NaN    0.000000      1.000000
14  6000~6300   517    458          NaN    0.000000      1.000000
15  6300~6600   498    429          NaN    0.000000      1.000000
16  6600~6900   501    430          NaN    0.000000      1.000000

환산점수_4.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10013,1800.08,-1.0,2882,100,0,105.5,4.21,NaN,13,1800~2100
1,10016,1800.09,-1.0,2862,100,0,104.3,4.61,NaN,16,1800~2100
2,10018,1800.08,-1.0,2851,100,0,102.9,4.64,NaN,18,1800~2100
3,10019,1800.08,-1.0,2842,100,0,102.5,4.64,NaN,19,1800~2100
4,10045,1800.04,-1.0,2693,630,0,101.6,6.67,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2343429,30199,6899.90,-1.0,10053,100,0,95.5,4.76,NaN,199,6600~6900
2343430,30217,6899.99,-1.0,9999,100,0,107.8,3.75,NaN,217,6600~6900
2343431,30219,6899.97,-1.0,10036,100,0,104.4,4.01,NaN,219,6600~6900
2343432,30255,6900.00,-1.0,9775,100,0,101.2,4.64,NaN,255,NaN
2343433,30267,6899.98,-1.0,9678,100,0,86.3,4.01,NaN,267,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   487    440        473.0    0.971253      0.028747
1   2100~2400   496    545        468.0    0.943548      0.056452
2   2400~2700   473    489        495.0    1.046512     -0.046512
3   2700~3000   502    473        527.0    1.049801     -0.049801
4   3000~3300   447    468        465.0    1.040268     -0.040268
5   3300~3600   528    495        449.0    0.850379      0.149621
6   3600~3900   500    527        553.0    1.106000     -0.106000
7   3900~4200   516    465        507.0    0.982558      0.017442
8   4200~4500   498    449        488.0    0.979920      0.020080
9   4500~4800   446    553        503.0    1.127803     -0.127803
10  4800~5100   523    507        445.0    0.850860      0.149140
11  5100~5400   453    488        539.0    1.189845     -0.189845
12  5400~5700   491    503        409.0    0.832994      0.167006
13  5700~6000   527    445        504.0    0.956357      0.043643
14  6000~6300   508    539          NaN    0.000000      1.000000
15  6300~6600   503    409          NaN    0.000000      1.000000
16  6600~6900   509    504          NaN    0.000000      1.000000

환산점수_5.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10013,1800.08,-1.0,2882,100,0,105.5,4.21,NaN,13,1800~2100
1,10016,1800.09,-1.0,2862,100,0,104.3,4.61,NaN,16,1800~2100
2,10018,1800.08,-1.0,2851,100,0,102.9,4.64,NaN,18,1800~2100
3,10019,1800.08,-1.0,2842,100,0,102.5,4.64,NaN,19,1800~2100
4,10045,1800.04,-1.0,2693,630,0,101.6,6.67,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2341550,30244,6900.00,-1.0,9777,100,0,59.2,4.21,NaN,244,NaN
2341551,30250,6899.94,-1.0,9805,100,0,80.5,4.21,NaN,250,6600~6900
2341552,30264,6899.91,-1.0,9617,100,0,79.9,4.61,NaN,264,6600~6900
2341553,30272,6899.99,-1.0,9594,100,0,104.9,3.75,NaN,272,6600~6900
2341554,30274,6899.93,-1.0,9483,300,0,97.9,12.40,NaN,274,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   487    467        493.0    1.012320     -0.012320
1   2100~2400   496    443        424.0    0.854839      0.145161
2   2400~2700   473    553        498.0    1.052854     -0.052854
3   2700~3000   502    493        539.0    1.073705     -0.073705
4   3000~3300   447    424        440.0    0.984340      0.015660
5   3300~3600   528    498        482.0    0.912879      0.087121
6   3600~3900   500    539        445.0    0.890000      0.110000
7   3900~4200   516    440        555.0    1.075581     -0.075581
8   4200~4500   498    482        528.0    1.060241     -0.060241
9   4500~4800   446    445        525.0    1.177130     -0.177130
10  4800~5100   523    555        431.0    0.824092      0.175908
11  5100~5400   453    528        524.0    1.156733     -0.156733
12  5400~5700   491    525        443.0    0.902240      0.097760
13  5700~6000   527    431        455.0    0.863378      0.136622
14  6000~6300   508    524          NaN    0.000000      1.000000
15  6300~6600   503    443          NaN    0.000000      1.000000
16  6600~6900   509    455          NaN    0.000000      1.000000

환산점수_6.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10013,1800.08,-1.0,2882,100,0,105.5,4.21,NaN,13,1800~2100
1,10016,1800.09,-1.0,2862,100,0,104.3,4.61,NaN,16,1800~2100
2,10018,1800.08,-1.0,2851,100,0,102.9,4.64,NaN,18,1800~2100
3,10019,1800.08,-1.0,2842,100,0,102.5,4.64,NaN,19,1800~2100
4,10045,1800.04,-1.0,2693,630,0,101.6,6.67,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2342483,30131,6899.98,-1.0,10448,300,0,76.2,12.40,NaN,131,6600~6900
2342484,30175,6899.93,-1.0,10272,100,0,104.5,4.21,NaN,175,6600~6900
2342485,30235,6899.91,-1.0,9889,630,0,103.1,6.67,NaN,235,6600~6900
2342486,30245,6899.98,-1.0,9833,100,0,58.5,4.21,NaN,245,6600~6900
2342487,30279,6899.90,-1.0,9400,100,0,109.0,4.21,NaN,279,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   487    485        508.0    1.043121     -0.043121
1   2100~2400   496    437        486.0    0.979839      0.020161
2   2400~2700   473    496        515.0    1.088795     -0.088795
3   2700~3000   502    489        460.0    0.916335      0.083665
4   3000~3300   447    508        516.0    1.154362     -0.154362
5   3300~3600   528    486        456.0    0.863636      0.136364
6   3600~3900   500    515        477.0    0.954000      0.046000
7   3900~4200   516    460        508.0    0.984496      0.015504
8   4200~4500   498    516        492.0    0.987952      0.012048
9   4500~4800   446    456        496.0    1.112108     -0.112108
10  4800~5100   523    477        490.0    0.936902      0.063098
11  5100~5400   453    508        499.0    1.101545     -0.101545
12  5400~5700   491    492        476.0    0.969450      0.030550
13  5700~6000   527    496          NaN    0.000000      1.000000
14  6000~6300   508    490          NaN    0.000000      1.000000
15  6300~6600   503    499          NaN    0.000000      1.000000
16  6600~6900   509    476          NaN    0.000000      1.000000

환산점수_7.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10013,1800.08,-1.0,2882,100,0,105.5,4.21,NaN,13,1800~2100
1,10016,1800.09,-1.0,2862,100,0,104.3,4.61,NaN,16,1800~2100
2,10018,1800.08,-1.0,2851,100,0,102.9,4.64,NaN,18,1800~2100
3,10019,1800.08,-1.0,2842,100,0,102.5,4.64,NaN,19,1800~2100
4,10045,1800.04,-1.0,2693,630,0,101.6,6.67,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2274514,30221,6899.96,-1.0,9268,100,0,66.6,4.21,NaN,221,6600~6900
2274515,30228,6899.98,-1.0,9161,100,0,12.9,4.61,NaN,228,6600~6900
2274516,30231,6900.00,-1.0,9062,100,0,36.6,3.75,NaN,231,NaN
2274517,30248,6899.94,-1.0,8951,100,0,49.8,4.61,NaN,248,6600~6900
2274518,30268,6899.94,-1.0,8665,100,0,66.3,4.64,NaN,268,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   487    454        435.0    0.893224      0.106776
1   2100~2400   496    417        468.0    0.943548      0.056452
2   2400~2700   473    437        462.0    0.976744      0.023256
3   2700~3000   502    412        437.0    0.870518      0.129482
4   3000~3300   447    450        452.0    1.011186     -0.011186
5   3300~3600   528    435        418.0    0.791667      0.208333
6   3600~3900   500    468        451.0    0.902000      0.098000
7   3900~4200   516    462        418.0    0.810078      0.189922
8   4200~4500   498    437        448.0    0.899598      0.100402
9   4500~4800   446    452        454.0    1.017937     -0.017937
10  4800~5100   523    418        437.0    0.835564      0.164436
11  5100~5400   453    451        448.0    0.988962      0.011038
12  5400~5700   491    418          NaN    0.000000      1.000000
13  5700~6000   527    448          NaN    0.000000      1.000000
14  6000~6300   508    454          NaN    0.000000      1.000000
15  6300~6600   503    437          NaN    0.000000      1.000000
16  6600~6900   509    448          NaN    0.000000      1.000000

환산점수_8.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10004,1800.08,-1.0,2917,100,0,106.1,4.61,NaN,4,1800~2100
1,10029,1800.10,-1.0,2766,100,0,101.4,4.76,NaN,29,1800~2100
2,10038,1800.02,-1.0,2705,630,0,87.7,6.67,NaN,38,1800~2100
3,10060,1800.02,-1.0,2609,100,0,93.4,4.76,NaN,60,1800~2100
4,10086,1800.03,-1.0,2411,300,0,78.2,12.40,NaN,86,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2325797,30217,6899.94,-1.0,9893,100,0,97.5,4.01,NaN,217,6600~6900
2325798,30240,6899.99,-1.0,9804,100,0,101.8,4.76,NaN,240,6600~6900
2325799,30244,6899.95,-1.0,9590,640,0,88.0,10.21,NaN,244,6600~6900
2325800,30256,6899.98,-1.0,9611,100,0,99.1,4.76,NaN,256,6600~6900
2325801,30272,6899.90,-1.0,9579,100,0,108.9,4.61,NaN,272,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   491    468        498.0    1.014257     -0.014257
1   2100~2400   485    464        446.0    0.919588      0.080412
2   2400~2700   463    520        452.0    0.976242      0.023758
3   2700~3000   500    498        529.0    1.058000     -0.058000
4   3000~3300   446    446        493.0    1.105381     -0.105381
5   3300~3600   530    452        480.0    0.905660      0.094340
6   3600~3900   498    529        486.0    0.975904      0.024096
7   3900~4200   511    493        541.0    1.058708     -0.058708
8   4200~4500   490    480        505.0    1.030612     -0.030612
9   4500~4800   446    486        439.0    0.984305      0.015695
10  4800~5100   520    541        447.0    0.859615      0.140385
11  5100~5400   453    505        536.0    1.183223     -0.183223
12  5400~5700   483    439        436.0    0.902692      0.097308
13  5700~6000   514    447        508.0    0.988327      0.011673
14  6000~6300   512    536          NaN    0.000000      1.000000
15  6300~6600   502    436          NaN    0.000000      1.000000
16  6600~6900   503    508          NaN    0.000000      1.000000

환산점수_9.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10004,1800.08,-1.0,2917,100,0,106.1,4.61,NaN,4,1800~2100
1,10029,1800.10,-1.0,2766,100,0,101.4,4.76,NaN,29,1800~2100
2,10038,1800.02,-1.0,2705,630,0,87.7,6.67,NaN,38,1800~2100
3,10074,1800.09,-1.0,2509,100,0,87.4,4.61,NaN,74,1800~2100
4,10106,1800.02,-1.0,2317,300,0,94.8,12.40,NaN,106,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2325534,30172,6899.93,-1.0,10240,100,0,100.7,4.01,NaN,172,6600~6900
2325535,30215,6899.98,-1.0,9930,300,0,99.8,12.40,NaN,215,6600~6900
2325536,30244,6899.91,-1.0,9590,640,0,88.0,10.21,NaN,244,6600~6900
2325537,30261,6899.98,-1.0,9573,100,0,79.0,3.75,NaN,261,6600~6900
2325538,30262,6899.93,-1.0,9568,630,0,67.6,6.67,NaN,262,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   491    497        403.0    0.820774      0.179226
1   2100~2400   485    455        471.0    0.971134      0.028866
2   2400~2700   463    473        498.0    1.075594     -0.075594
3   2700~3000   500    570        527.0    1.054000     -0.054000
4   3000~3300   446    403        487.0    1.091928     -0.091928
5   3300~3600   530    471        430.0    0.811321      0.188679
6   3600~3900   498    498        540.0    1.084337     -0.084337
7   3900~4200   511    527        539.0    1.054795     -0.054795
8   4200~4500   490    487        442.0    0.902041      0.097959
9   4500~4800   446    430        481.0    1.078475     -0.078475
10  4800~5100   520    540        480.0    0.923077      0.076923
11  5100~5400   453    539        504.0    1.112583     -0.112583
12  5400~5700   483    442        453.0    0.937888      0.062112
13  5700~6000   514    481          NaN    0.000000      1.000000
14  6000~6300   512    480          NaN    0.000000      1.000000
15  6300~6600   502    504          NaN    0.000000      1.000000
16  6600~6900   503    453          NaN    0.000000      1.000000

환산점수_10.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10004,1800.08,-1.0,2917,100,0,106.1,4.61,NaN,4,1800~2100
1,10029,1800.10,-1.0,2766,100,0,101.4,4.76,NaN,29,1800~2100
2,10038,1800.02,-1.0,2705,630,0,87.7,6.67,NaN,38,1800~2100
3,10106,1800.02,-1.0,2317,300,0,94.8,12.40,NaN,106,1800~2100
4,10115,1800.02,-1.0,2265,100,0,74.8,4.21,NaN,115,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2325166,30245,6899.93,-1.0,9683,100,0,58.4,4.01,NaN,245,6600~6900
2325167,30249,6899.98,-1.0,9643,630,0,60.8,6.67,NaN,249,6600~6900
2325168,30254,6899.98,-1.0,9640,100,0,57.1,4.61,NaN,254,6600~6900
2325169,30255,6899.92,-1.0,9528,630,0,55.8,6.67,NaN,255,6600~6900
2325170,30276,6899.99,-1.0,9386,100,0,88.0,4.01,NaN,276,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   491    480        459.0    0.934827      0.065173
1   2100~2400   485    504        493.0    1.016495     -0.016495
2   2400~2700   463    479        470.0    1.015119     -0.015119
3   2700~3000   500    489        481.0    0.962000      0.038000
4   3000~3300   446    459        489.0    1.096413     -0.096413
5   3300~3600   530    493        504.0    0.950943      0.049057
6   3600~3900   498    470        475.0    0.953815      0.046185
7   3900~4200   511    481        505.0    0.988258      0.011742
8   4200~4500   490    489        490.0    1.000000      0.000000
9   4500~4800   446    504        486.0    1.089686     -0.089686
10  4800~5100   520    475        497.0    0.955769      0.044231
11  5100~5400   453    505        474.0    1.046358     -0.046358
12  5400~5700   483    490        489.0    1.012422     -0.012422
13  5700~6000   514    486          NaN    0.000000      1.000000
14  6000~6300   512    497          NaN    0.000000      1.000000
15  6300~6600   502    474          NaN    0.000000      1.000000
16  6600~6900   503    489          NaN    0.000000      1.000000

환산점수_11.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10004,1800.08,-1.0,2917,100,0,106.1,4.61,NaN,4,1800~2100
1,10029,1800.10,-1.0,2766,100,0,101.4,4.76,NaN,29,1800~2100
2,10038,1800.02,-1.0,2705,630,0,87.7,6.67,NaN,38,1800~2100
3,10060,1800.00,-1.0,2609,100,0,89.3,4.76,NaN,60,1800~2100
4,10061,1800.02,-1.0,2594,100,0,98.5,4.21,NaN,61,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2249196,30106,6900.00,-1.0,10603,100,0,101.2,3.75,NaN,106,NaN
2249197,30143,6899.93,-1.0,10408,100,0,99.8,4.21,NaN,143,6600~6900
2249198,30216,6899.96,-1.0,9220,100,0,20.1,4.01,NaN,216,6600~6900
2249199,30230,6899.98,-1.0,8961,100,0,44.6,4.76,NaN,230,6600~6900
2249200,30249,6899.96,-1.0,8852,100,0,47.5,3.75,NaN,249,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   491    462        374.0    0.761711      0.238289
1   2100~2400   485    460        439.0    0.905155      0.094845
2   2400~2700   463    409        447.0    0.965443      0.034557
3   2700~3000   500    455        448.0    0.896000      0.104000
4   3000~3300   446    442        405.0    0.908072      0.091928
5   3300~3600   530    374        440.0    0.830189      0.169811
6   3600~3900   498    439        441.0    0.885542      0.114458
7   3900~4200   511    447        436.0    0.853229      0.146771
8   4200~4500   490    448        440.0    0.897959      0.102041
9   4500~4800   446    405        456.0    1.022422     -0.022422
10  4800~5100   520    440        405.0    0.778846      0.221154
11  5100~5400   453    441        490.0    1.081678     -0.081678
12  5400~5700   483    436          NaN    0.000000      1.000000
13  5700~6000   514    440          NaN    0.000000      1.000000
14  6000~6300   512    456          NaN    0.000000      1.000000
15  6300~6600   502    405          NaN    0.000000      1.000000
16  6600~6900   503    490          NaN    0.000000      1.000000

환산점수_12.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10008,1800.10,-1.0,3219,100,0,100.2,4.61,NaN,8,1800~2100
1,10025,1800.01,-1.0,3090,100,0,95.9,4.61,NaN,25,1800~2100
2,10037,1800.04,-1.0,3031,300,0,100.0,12.40,NaN,37,1800~2100
3,10073,1800.09,-1.0,2809,100,0,109.9,4.21,NaN,73,1800~2100
4,10074,1800.01,-1.0,2784,100,0,99.9,4.21,NaN,74,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2602749,30188,6899.93,-1.0,11182,100,0,75.6,4.21,NaN,188,6600~6900
2602750,30204,6899.91,-1.0,11210,100,0,99.7,4.76,NaN,204,6600~6900
2602751,30228,6899.97,-1.0,11011,100,0,92.1,4.76,NaN,228,6600~6900
2602752,30250,6899.96,-1.0,10914,100,0,79.1,4.21,NaN,250,6600~6900
2602753,30261,6899.99,-1.0,10812,100,0,83.6,4.01,NaN,261,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   555    513        515.0    0.927928      0.072072
1   2100~2400   520    576        552.0    1.061538     -0.061538
2   2400~2700   558    538        520.0    0.931900      0.068100
3   2700~3000   503    515        566.0    1.125249     -0.125249
4   3000~3300   586    552        506.0    0.863481      0.136519
5   3300~3600   576    520        602.0    1.045139     -0.045139
6   3600~3900   520    566        571.0    1.098077     -0.098077
7   3900~4200   555    506        538.0    0.969369      0.030631
8   4200~4500   537    602        523.0    0.973929      0.026071
9   4500~4800   533    571        520.0    0.975610      0.024390
10  4800~5100   535    538        545.0    1.018692     -0.018692
11  5100~5400   568    523        532.0    0.936620      0.063380
12  5400~5700   575    520        570.0    0.991304      0.008696
13  5700~6000   552    545        577.0    1.045290     -0.045290
14  6000~6300   554    532          NaN    0.000000      1.000000
15  6300~6600   557    570          NaN    0.000000      1.000000
16  6600~6900   503    577          NaN    0.000000      1.000000

환산점수_13.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10008,1800.10,-1.0,3219,100,0,100.2,4.61,NaN,8,1800~2100
1,10025,1800.01,-1.0,3090,100,0,95.9,4.61,NaN,25,1800~2100
2,10037,1800.04,-1.0,3031,300,0,100.0,12.40,NaN,37,1800~2100
3,10051,1800.10,-1.0,2952,100,0,103.7,4.21,NaN,51,1800~2100
4,10103,1800.03,-1.0,2620,100,0,111.3,4.01,NaN,103,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2597507,30147,6899.95,-1.0,11540,100,0,83.6,4.21,NaN,147,6600~6900
2597508,30171,6899.91,-1.0,11426,300,0,100.0,12.40,NaN,171,6600~6900
2597509,30217,6899.97,-1.0,11133,100,0,90.2,4.21,NaN,217,6600~6900
2597510,30231,6899.91,-1.0,11009,100,0,88.8,4.21,NaN,231,6600~6900
2597511,30257,6899.99,-1.0,10706,100,0,108.1,4.01,NaN,257,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   555    528        516.0    0.929730      0.070270
1   2100~2400   520    547        557.0    1.071154     -0.071154
2   2400~2700   558    562        551.0    0.987455      0.012545
3   2700~3000   503    496        517.0    1.027833     -0.027833
4   3000~3300   586    516        549.0    0.936860      0.063140
5   3300~3600   576    557        544.0    0.944444      0.055556
6   3600~3900   520    551        544.0    1.046154     -0.046154
7   3900~4200   555    517        549.0    0.989189      0.010811
8   4200~4500   537    549        538.0    1.001862     -0.001862
9   4500~4800   533    544        524.0    0.983114      0.016886
10  4800~5100   535    544        563.0    1.052336     -0.052336
11  5100~5400   568    549        526.0    0.926056      0.073944
12  5400~5700   575    538        565.0    0.982609      0.017391
13  5700~6000   552    524          NaN    0.000000      1.000000
14  6000~6300   554    563          NaN    0.000000      1.000000
15  6300~6600   557    526          NaN    0.000000      1.000000
16  6600~6900   503    565          NaN    0.000000      1.000000

환산점수_14.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10008,1800.10,-1.0,3219,100,0,100.2,4.61,NaN,8,1800~2100
1,10025,1800.01,-1.0,3090,100,0,95.9,4.61,NaN,25,1800~2100
2,10037,1800.04,-1.0,3031,300,0,100.0,12.40,NaN,37,1800~2100
3,10075,1800.04,-1.0,2741,100,0,87.0,4.21,NaN,75,1800~2100
4,10090,1800.01,-1.0,2664,630,0,93.9,6.67,NaN,90,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2538297,30174,6900.00,-1.0,11224,100,0,70.1,4.21,NaN,174,NaN
2538298,30178,6899.96,-1.0,11095,100,0,62.3,4.64,NaN,178,6600~6900
2538299,30181,6899.95,-1.0,10978,640,0,84.5,10.21,NaN,181,6600~6900
2538300,30219,6899.93,-1.0,10591,100,0,76.9,4.64,NaN,219,6600~6900
2538301,30270,6899.92,-1.0,9901,100,0,59.3,3.75,NaN,270,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   555    511        442.0    0.796396      0.203604
1   2100~2400   520    514        489.0    0.940385      0.059615
2   2400~2700   558    462        515.0    0.922939      0.077061
3   2700~3000   503    555        512.0    1.017893     -0.017893
4   3000~3300   586    442        509.0    0.868601      0.131399
5   3300~3600   576    489        510.0    0.885417      0.114583
6   3600~3900   520    515        482.0    0.926923      0.073077
7   3900~4200   555    512        527.0    0.949550      0.050450
8   4200~4500   537    509        512.0    0.953445      0.046555
9   4500~4800   533    510        478.0    0.896811      0.103189
10  4800~5100   535    482        489.0    0.914019      0.085981
11  5100~5400   568    527        486.0    0.855634      0.144366
12  5400~5700   575    512        468.0    0.813913      0.186087
13  5700~6000   552    478          NaN    0.000000      1.000000
14  6000~6300   554    489          NaN    0.000000      1.000000
15  6300~6600   557    486          NaN    0.000000      1.000000
16  6600~6900   503    468          NaN    0.000000      1.000000

환산점수_15.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10008,1800.10,-1.0,3219,100,0,100.2,4.61,NaN,8,1800~2100
1,10025,1800.01,-1.0,3090,100,0,95.9,4.61,NaN,25,1800~2100
2,10037,1800.04,-1.0,3031,300,0,100.0,12.40,NaN,37,1800~2100
3,10075,1800.02,-1.0,2768,100,0,87.3,4.21,NaN,75,1800~2100
4,10078,1800.01,-1.0,2785,630,0,102.1,6.67,NaN,78,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2394115,30191,6899.96,-1.0,10139,100,0,61.1,4.01,NaN,191,6600~6900
2394116,30207,6899.99,-1.0,9733,100,0,32.1,4.61,NaN,207,6600~6900
2394117,30219,6899.94,-1.0,9530,100,0,44.8,4.64,NaN,219,6600~6900
2394118,30263,6899.95,-1.0,9010,100,0,49.4,4.64,NaN,263,6600~6900
2394119,30271,6899.97,-1.0,8848,100,0,87.7,4.01,NaN,271,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   555    456        444.0    0.800000      0.200000
1   2100~2400   520    453        432.0    0.830769      0.169231
2   2400~2700   558    444        446.0    0.799283      0.200717
3   2700~3000   503    447        480.0    0.954274      0.045726
4   3000~3300   586    425        444.0    0.757679      0.242321
5   3300~3600   576    424        483.0    0.838542      0.161458
6   3600~3900   520    444        471.0    0.905769      0.094231
7   3900~4200   555    432        471.0    0.848649      0.151351
8   4200~4500   537    446        470.0    0.875233      0.124767
9   4500~4800   533    480        418.0    0.784240      0.215760
10  4800~5100   535    444        451.0    0.842991      0.157009
11  5100~5400   568    483          NaN    0.000000      1.000000
12  5400~5700   575    471          NaN    0.000000      1.000000
13  5700~6000   552    471          NaN    0.000000      1.000000
14  6000~6300   554    470          NaN    0.000000      1.000000
15  6300~6600   557    418          NaN    0.000000      1.000000
16  6600~6900   503    451          NaN    0.000000      1.000000

환산점수_16.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10015,1800.09,-1.0,3142,100,0,97.9,4.61,NaN,15,1800~2100
1,10024,1800.05,-1.0,3073,100,0,83.0,4.61,NaN,24,1800~2100
2,10027,1800.04,-1.0,3063,100,0,101.2,3.75,NaN,27,1800~2100
3,10049,1800.02,-1.0,2899,100,0,89.3,3.75,NaN,49,1800~2100
4,10053,1800.07,-1.0,2919,100,0,109.7,4.64,NaN,53,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2579660,30197,6900.00,-1.0,11119,100,0,95.7,4.36,NaN,197,NaN
2579661,30201,6899.94,-1.0,11065,300,0,100.0,12.40,NaN,201,6600~6900
2579662,30206,6899.99,-1.0,11029,300,0,94.9,12.40,NaN,206,6600~6900
2579663,30245,6899.98,-1.0,10709,100,0,78.4,4.61,NaN,245,6600~6900
2579664,30264,6899.99,-1.0,10663,100,0,100.1,4.61,NaN,264,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   548    538        434.0    0.791971      0.208029
1   2100~2400   518    559        564.0    1.088803     -0.088803
2   2400~2700   552    590        581.0    1.052536     -0.052536
3   2700~3000   503    434        507.0    1.007952     -0.007952
4   3000~3300   579    564        518.0    0.894646      0.105354
5   3300~3600   569    581        517.0    0.908612      0.091388
6   3600~3900   512    507        563.0    1.099609     -0.099609
7   3900~4200   557    518        582.0    1.044883     -0.044883
8   4200~4500   537    517        589.0    1.096834     -0.096834
9   4500~4800   531    563        458.0    0.862524      0.137476
10  4800~5100   525    582        550.0    1.047619     -0.047619
11  5100~5400   559    589        521.0    0.932021      0.067979
12  5400~5700   567    458        572.0    1.008818     -0.008818
13  5700~6000   554    550        560.0    1.010830     -0.010830
14  6000~6300   549    521          NaN    0.000000      1.000000
15  6300~6600   563    572          NaN    0.000000      1.000000
16  6600~6900   489    560          NaN    0.000000      1.000000

환산점수_17.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10015,1800.09,-1.0,3142,100,0,97.9,4.61,NaN,15,1800~2100
1,10024,1800.05,-1.0,3073,100,0,83.0,4.61,NaN,24,1800~2100
2,10027,1800.04,-1.0,3063,100,0,101.2,3.75,NaN,27,1800~2100
3,10043,1800.07,-1.0,2976,630,0,94.9,6.67,NaN,43,1800~2100
4,10044,1800.02,-1.0,2966,100,0,101.1,4.61,NaN,44,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2574250,30188,6899.95,-1.0,11102,100,0,101.0,4.76,NaN,188,6600~6900
2574251,30195,6899.96,-1.0,11093,300,0,99.9,12.40,NaN,195,6600~6900
2574252,30202,6899.91,-1.0,11117,100,0,101.0,4.76,NaN,202,6600~6900
2574253,30225,6899.95,-1.0,10882,630,0,85.3,6.67,NaN,225,6600~6900
2574254,30248,6899.99,-1.0,10477,640,0,75.0,10.21,NaN,248,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   548    480        549.0    1.001825     -0.001825
1   2100~2400   518    546        545.0    1.052124     -0.052124
2   2400~2700   552    527        507.0    0.918478      0.081522
3   2700~3000   503    538        554.0    1.101392     -0.101392
4   3000~3300   579    549        530.0    0.915371      0.084629
5   3300~3600   569    545        525.0    0.922671      0.077329
6   3600~3900   512    507        536.0    1.046875     -0.046875
7   3900~4200   557    554        568.0    1.019749     -0.019749
8   4200~4500   537    530        517.0    0.962756      0.037244
9   4500~4800   531    525        551.0    1.037665     -0.037665
10  4800~5100   525    536        541.0    1.030476     -0.030476
11  5100~5400   559    568        500.0    0.894454      0.105546
12  5400~5700   567    517        525.0    0.925926      0.074074
13  5700~6000   554    551          NaN    0.000000      1.000000
14  6000~6300   549    541          NaN    0.000000      1.000000
15  6300~6600   563    500          NaN    0.000000      1.000000
16  6600~6900   489    525          NaN    0.000000      1.000000

환산점수_18.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10015,1800.09,-1.0,3142,100,0,97.9,4.61,NaN,15,1800~2100
1,10024,1800.05,-1.0,3073,100,0,83.0,4.61,NaN,24,1800~2100
2,10027,1800.04,-1.0,3063,100,0,101.2,3.75,NaN,27,1800~2100
3,10044,1800.10,-1.0,2966,100,0,105.9,4.61,NaN,44,1800~2100
4,10049,1800.02,-1.0,2899,100,0,89.3,3.75,NaN,49,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2511709,30179,6899.97,-1.0,10957,100,0,81.7,4.64,NaN,179,6600~6900
2511710,30183,6899.97,-1.0,10941,100,0,35.3,4.76,NaN,183,6600~6900
2511711,30184,6899.93,-1.0,10920,100,0,53.3,4.21,NaN,184,6600~6900
2511712,30189,6900.00,-1.0,10849,300,0,59.0,12.40,NaN,189,NaN
2511713,30277,6899.95,-1.0,9792,100,0,96.1,3.75,NaN,277,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   548    506        502.0    0.916058      0.083942
1   2100~2400   518    448        513.0    0.990347      0.009653
2   2400~2700   552    485        456.0    0.826087      0.173913
3   2700~3000   503    525        532.0    1.057654     -0.057654
4   3000~3300   579    465        496.0    0.856649      0.143351
5   3300~3600   569    502        483.0    0.848858      0.151142
6   3600~3900   512    513        496.0    0.968750      0.031250
7   3900~4200   557    456        511.0    0.917415      0.082585
8   4200~4500   537    532        503.0    0.936685      0.063315
9   4500~4800   531    496        544.0    1.024482     -0.024482
10  4800~5100   525    483        493.0    0.939048      0.060952
11  5100~5400   559    496        491.0    0.878354      0.121646
12  5400~5700   567    511          NaN    0.000000      1.000000
13  5700~6000   554    503          NaN    0.000000      1.000000
14  6000~6300   549    544          NaN    0.000000      1.000000
15  6300~6600   563    493          NaN    0.000000      1.000000
16  6600~6900   489    491          NaN    0.000000      1.000000

환산점수_19.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10015,1800.09,-1.0,3142,100,0,97.9,4.61,NaN,15,1800~2100
1,10024,1800.05,-1.0,3073,100,0,83.0,4.61,NaN,24,1800~2100
2,10027,1800.04,-1.0,3063,100,0,101.2,3.75,NaN,27,1800~2100
3,10073,1800.06,-1.0,2745,100,0,89.2,4.64,NaN,73,1800~2100
4,10078,1800.05,-1.0,2686,100,0,88.9,3.75,NaN,78,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2343732,30232,6899.92,-1.0,9141,300,0,89.0,12.40,NaN,232,6600~6900
2343733,30234,6899.95,-1.0,9211,100,0,41.2,4.61,NaN,234,6600~6900
2343734,30263,6899.91,-1.0,8632,100,0,62.5,4.21,NaN,263,6600~6900
2343735,30276,6899.98,-1.0,8708,100,0,101.5,4.21,NaN,276,6600~6900
2343736,30279,6899.93,-1.0,8635,100,0,104.0,4.01,NaN,279,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   548    438        486.0    0.886861      0.113139
1   2100~2400   518    379        470.0    0.907336      0.092664
2   2400~2700   552    455        402.0    0.728261      0.271739
3   2700~3000   503    403        454.0    0.902584      0.097416
4   3000~3300   579    449        429.0    0.740933      0.259067
5   3300~3600   569    420        436.0    0.766257      0.233743
6   3600~3900   512    486        452.0    0.882812      0.117188
7   3900~4200   557    470        430.0    0.771993      0.228007
8   4200~4500   537    402        484.0    0.901304      0.098696
9   4500~4800   531    454        447.0    0.841808      0.158192
10  4800~5100   525    429        454.0    0.864762      0.135238
11  5100~5400   559    436          NaN    0.000000      1.000000
12  5400~5700   567    452          NaN    0.000000      1.000000
13  5700~6000   554    430          NaN    0.000000      1.000000
14  6000~6300   549    484          NaN    0.000000      1.000000
15  6300~6600   563    447          NaN    0.000000      1.000000
16  6600~6900   489    454          NaN    0.000000      1.000000

환산점수_20.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10009,1800.03,-1.0,3151,100,0,91.8,4.76,NaN,9,1800~2100
1,10012,1800.02,-1.0,3136,100,0,100.5,4.61,NaN,12,1800~2100
2,10021,1800.01,-1.0,3085,100,0,99.4,4.76,NaN,21,1800~2100
3,10042,1800.07,-1.0,2958,100,0,106.8,4.21,NaN,42,1800~2100
4,10055,1800.05,-1.0,2864,300,0,98.0,12.40,NaN,55,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2562532,30200,6899.98,-1.0,11057,100,0,95.7,4.64,NaN,200,6600~6900
2562533,30201,6900.00,-1.0,11058,100,0,81.4,4.64,NaN,201,NaN
2562534,30228,6899.98,-1.0,10776,100,0,91.4,4.01,NaN,228,6600~6900
2562535,30238,6899.99,-1.0,10749,100,0,100.4,4.76,NaN,238,6600~6900
2562536,30250,6899.96,-1.0,10591,100,0,96.0,4.64,NaN,250,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   550    534        550.0    1.000000      0.000000
1   2100~2400   515    497        533.0    1.034951     -0.034951
2   2400~2700   551    563        524.0    0.950998      0.049002
3   2700~3000   489    507        569.0    1.163599     -0.163599
4   3000~3300   576    550        548.0    0.951389      0.048611
5   3300~3600   551    533        544.0    0.987296      0.012704
6   3600~3900   537    524        562.0    1.046555     -0.046555
7   3900~4200   548    569        537.0    0.979927      0.020073
8   4200~4500   522    548        462.0    0.885057      0.114943
9   4500~4800   550    544        576.0    1.047273     -0.047273
10  4800~5100   499    562        524.0    1.050100     -0.050100
11  5100~5400   548    537        553.0    1.009124     -0.009124
12  5400~5700   573    462        529.0    0.923211      0.076789
13  5700~6000   547    576          NaN    0.000000      1.000000
14  6000~6300   558    524          NaN    0.000000      1.000000
15  6300~6600   541    553          NaN    0.000000      1.000000
16  6600~6900   497    529          NaN    0.000000      1.000000

환산점수_21.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10009,1800.03,-1.0,3151,100,0,91.8,4.76,NaN,9,1800~2100
1,10012,1800.02,-1.0,3136,100,0,100.5,4.61,NaN,12,1800~2100
2,10021,1800.01,-1.0,3085,100,0,99.4,4.76,NaN,21,1800~2100
3,10042,1800.07,-1.0,2958,100,0,106.8,4.21,NaN,42,1800~2100
4,10045,1800.02,-1.0,2945,100,0,106.8,4.21,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2555392,30145,6899.93,-1.0,11401,100,0,107.8,4.61,NaN,145,6600~6900
2555393,30159,6899.90,-1.0,11317,100,0,73.9,4.76,NaN,159,6600~6900
2555394,30175,6899.98,-1.0,11209,630,0,94.9,6.67,NaN,175,6600~6900
2555395,30198,6899.98,-1.0,11042,100,0,101.4,4.64,NaN,198,6600~6900
2555396,30238,6899.96,-1.0,10554,100,0,55.4,4.21,NaN,238,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   550    540        521.0    0.947273      0.052727
1   2100~2400   515    507        521.0    1.011650     -0.011650
2   2400~2700   551    507        554.0    1.005445     -0.005445
3   2700~3000   489    535        518.0    1.059305     -0.059305
4   3000~3300   576    521        542.0    0.940972      0.059028
5   3300~3600   551    521        521.0    0.945554      0.054446
6   3600~3900   537    554        534.0    0.994413      0.005587
7   3900~4200   548    518        537.0    0.979927      0.020073
8   4200~4500   522    542        544.0    1.042146     -0.042146
9   4500~4800   550    521        563.0    1.023636     -0.023636
10  4800~5100   499    534        498.0    0.997996      0.002004
11  5100~5400   548    537        510.0    0.930657      0.069343
12  5400~5700   573    544        536.0    0.935428      0.064572
13  5700~6000   547    563          NaN    0.000000      1.000000
14  6000~6300   558    498          NaN    0.000000      1.000000
15  6300~6600   541    510          NaN    0.000000      1.000000
16  6600~6900   497    536          NaN    0.000000      1.000000

환산점수_22.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10009,1800.03,-1.0,3151,100,0,91.8,4.76,NaN,9,1800~2100
1,10012,1800.02,-1.0,3136,100,0,100.5,4.61,NaN,12,1800~2100
2,10021,1800.01,-1.0,3085,100,0,99.4,4.76,NaN,21,1800~2100
3,10042,1800.07,-1.0,2958,100,0,106.8,4.21,NaN,42,1800~2100
4,10055,1800.05,-1.0,2864,300,0,98.0,12.40,NaN,55,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2475064,30180,6899.96,-1.0,10714,100,0,37.0,4.21,NaN,180,6600~6900
2475065,30181,6899.97,-1.0,10789,100,0,51.4,4.76,NaN,181,6600~6900
2475066,30195,6899.91,-1.0,10508,100,0,98.1,4.01,NaN,195,6600~6900
2475067,30197,6899.92,-1.0,10485,630,0,54.2,6.67,NaN,197,6600~6900
2475068,30219,6899.94,-1.0,10037,300,0,44.9,12.40,NaN,219,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   550    495        508.0    0.923636      0.076364
1   2100~2400   515    499        501.0    0.972816      0.027184
2   2400~2700   551    456        480.0    0.871143      0.128857
3   2700~3000   489    529        489.0    1.000000      0.000000
4   3000~3300   576    461        491.0    0.852431      0.147569
5   3300~3600   551    508        486.0    0.882033      0.117967
6   3600~3900   537    501        500.0    0.931099      0.068901
7   3900~4200   548    480        493.0    0.899635      0.100365
8   4200~4500   522    489        425.0    0.814176      0.185824
9   4500~4800   550    491        460.0    0.836364      0.163636
10  4800~5100   499    486        487.0    0.975952      0.024048
11  5100~5400   548    500        514.0    0.937956      0.062044
12  5400~5700   573    493          NaN    0.000000      1.000000
13  5700~6000   547    425          NaN    0.000000      1.000000
14  6000~6300   558    460          NaN    0.000000      1.000000
15  6300~6600   541    487          NaN    0.000000      1.000000
16  6600~6900   497    514          NaN    0.000000      1.000000

환산점수_23.xlsx 생성 완료

'original_df : '

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],VehLength[m],,New_Measurement,TimeGroup
0,10009,1800.03,-1.0,3151,100,0,91.8,4.76,NaN,9,1800~2100
1,10012,1800.02,-1.0,3136,100,0,100.5,4.61,NaN,12,1800~2100
2,10021,1800.01,-1.0,3085,100,0,99.4,4.76,NaN,21,1800~2100
3,10042,1800.07,-1.0,2958,100,0,106.8,4.21,NaN,42,1800~2100
4,10045,1800.02,-1.0,2945,100,0,106.8,4.21,NaN,45,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...
2335748,30202,6899.91,-1.0,9622,100,0,53.5,4.01,NaN,202,6600~6900
2335749,30215,6899.98,-1.0,9319,100,0,32.5,4.01,NaN,215,6600~6900
2335750,30249,6899.97,-1.0,8815,100,0,62.6,4.76,NaN,249,6600~6900
2335751,30260,6899.91,-1.0,8422,640,0,56.4,10.21,NaN,260,6600~6900
2335752,30278,6899.96,-1.0,8563,100,0,100.1,3.75,NaN,278,6600~6900

'merged_counts : '

    TimeGroup  Q_in  Q_out  Q_out_shift  F(outrate)  1-F(outrate)
0   1800~2100   550    431        444.0    0.807273      0.192727
1   2100~2400   515    468        449.0    0.871845      0.128155
2   2400~2700   551    430        466.0    0.845735      0.154265
3   2700~3000   489    457        445.0    0.910020      0.089980
4   3000~3300   576    420        452.0    0.784722      0.215278
5   3300~3600   551    373        470.0    0.852995      0.147005
6   3600~3900   537    444        477.0    0.888268      0.111732
7   3900~4200   548    449        428.0    0.781022      0.218978
8   4200~4500   522    466        446.0    0.854406      0.145594
9   4500~4800   550    445        399.0    0.725455      0.274545
10  4800~5100   499    452        433.0    0.867735      0.132265
11  5100~5400   548    470          NaN    0.000000      1.000000
12  5400~5700   573    477          NaN    0.000000      1.000000
13  5700~6000   547    428          NaN    0.000000      1.000000
14  6000~6300   558    446          NaN    0.000000      1.000000
15  6300~6600   541    399          NaN    0.000000      1.000000
16  6600~6900   497    433          NaN    0.000000      1.000000

환산점수_24.xlsx 생성 완료