In [1]:
import pandas as pd
import os
"""20~22년 vds 데이터 이상치 제거 """

folder_path = r"C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\급경사\시공도\vds 데이터\원본\11월 데이터(20~23)\22"
save_path = r"C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\급경사\시공도\vds 데이터\이상치 제거\11월 데이터(20~23)\22"
output_files = sorted([f for f in os.listdir(folder_path) if f.endswith(".csv")], key=lambda x: int(x.split("_")[0]) if x.split("_")[0].isdigit() else 0)

for file_name in output_files:
    df = pd.read_csv(os.path.join(folder_path, file_name), encoding="euc-kr")
    df = df.drop(columns="what")

    if "avgspeed" in df.columns:
        df = df[~df["avgspeed"].between(-1, 10)]
    excel_file_path = os.path.join(save_path, file_name)
    #df.to_csv(excel_file_path, index=False)
    print(f"{file_name} 생성 완료")

        hour        vds_id  point  lane_number  avgspeed  what
0         23  0101VDE05600  77.40            1    102.30   NaN
1         23  0101VDE05600  77.40            2     92.30   NaN
2         23  0101VDE05800  79.40            1     -1.00   NaN
3         23  0101VDE05800  79.40            2     -1.00   NaN
4         23  0101VDE05850  79.70            1      0.00   NaN
...      ...           ...    ...          ...       ...   ...
454875    23  0101VDE05505  72.50            2     98.58   NaN
454876    23  0101VDE05507  73.61            1     98.79   NaN
454877    23  0101VDE05507  73.61            2     97.64   NaN
454878    23  0101VDE05511  75.92            1     98.84   NaN
454879    23  0101VDE05511  75.92            2     90.43   NaN

[454880 rows x 6 columns]

data_2022_11_01.csv 생성 완료

        hour        vds_id   point  lane_number  avgspeed  what
0         22  0252VDS18860  257.65            2     95.12   NaN
1         22  0252VDS18870  258.62            1    110.26   NaN
2         22  0252VDS18870  258.62            2     95.29   NaN
3         22  0252VDS18880  259.60            1    105.90   NaN
4         22  0252VDS18880  259.60            2     89.32   NaN
...      ...           ...     ...          ...       ...   ...
454761    22  0252VDS18840  255.78            1    104.14   NaN
454762    22  0252VDS18840  255.78            2     89.80   NaN
454763    22  0252VDS18850  256.66            1    108.61   NaN
454764    22  0252VDS18850  256.66            2     94.29   NaN
454765    22  0252VDS18860  257.65            1    112.35   NaN

[454766 rows x 6 columns]

data_2022_11_02.csv 생성 완료

        hour        vds_id  point  lane_number  avgspeed  what
0         21  0450VDS24501  288.4            1    101.47   NaN
1         21  0450VDS24501  288.4            2     90.37   NaN
2         21  0450VDS24502  289.2            1    122.57   NaN
3         21  0450VDS24502  289.2            2     95.60   NaN
4         21  0450VDS24503  290.2            1    123.77   NaN
...      ...           ...    ...          ...       ...   ...
454891    21  0450VDS24200  284.6            2     98.79   NaN
454892    21  0450VDS24300  285.6            1    121.74   NaN
454893    21  0450VDS24300  285.6            2     96.57   NaN
454894    21  0450VDS24500  287.6            1    111.57   NaN
454895    21  0450VDS24500  287.6            2     89.47   NaN

[454896 rows x 6 columns]

data_2022_11_03.csv 생성 완료

        hour        vds_id  point  lane_number  avgspeed  what
0          0  0010VDE00100   1.40            1    102.96   NaN
1          0  0010VDE00100   1.40            2     90.52   NaN
2          0  0010VDE00100   1.40            3     71.21   NaN
3          0  0010VDE00200   2.40            1    113.52   NaN
4          0  0010VDE00200   2.40            2    103.25   NaN
...      ...           ...    ...          ...       ...   ...
454885    23  6000VDS03300  43.39            2    101.22   NaN
454886    23  6000VDS03400  45.16            1    113.69   NaN
454887    23  6000VDS03400  45.16            2     98.97   NaN
454888    23  6000VDS03500  47.41            1    106.84   NaN
454889    23  6000VDS03500  47.41            2     85.35   NaN

[454890 rows x 6 columns]

data_2022_11_04.csv 생성 완료

        hour        vds_id  point  lane_number  avgspeed  what
0         20  0010VDE04350   94.2            3     94.14   NaN
1         20  0010VDE04355   95.5            1    120.19   NaN
2         20  0010VDE04355   95.5            2    107.31   NaN
3         20  0010VDE04355   95.5            3     99.51   NaN
4         20  0010VDE04400   96.7            1    114.95   NaN
...      ...           ...    ...          ...       ...   ...
454881    20  0010VDE04345   92.8            1    123.58   NaN
454882    20  0010VDE04345   92.8            2    108.41   NaN
454883    20  0010VDE04345   92.8            3     97.46   NaN
454884    20  0010VDE04350   94.2            1    118.32   NaN
454885    20  0010VDE04350   94.2            2    101.54   NaN

[454886 rows x 6 columns]

data_2022_11_05.csv 생성 완료

        hour        vds_id  point  lane_number  avgspeed  what
0         19  0105VDS01400   8.38            1    117.12   NaN
1         19  0105VDS01400   8.38            2     31.43   NaN
2         19  0105VDS01500   8.71            1    111.08   NaN
3         19  0105VDS01500   8.71            2     93.29   NaN
4         19  0105VDS01600   9.09            1    100.78   NaN
...      ...           ...    ...          ...       ...   ...
454891    19  0105VDS01100   7.11            2     90.50   NaN
454892    19  0105VDS01200   7.51            1    107.82   NaN
454893    19  0105VDS01200   7.51            2     91.31   NaN
454894    19  0105VDS01300   7.91            1    107.63   NaN
454895    19  0105VDS01300   7.91            2     92.75   NaN

[454896 rows x 6 columns]

data_2022_11_06.csv 생성 완료

        hour        vds_id  point  lane_number  avgspeed  what
0         18  0270VDE05300   89.6            2     88.24   NaN
1         18  0270VDE05400   90.4            1    109.60   NaN
2         18  0270VDE05400   90.4            2     89.83   NaN
3         18  0270VDE05500   92.1            1    109.20   NaN
4         18  0270VDE05500   92.1            2     90.93   NaN
...      ...           ...    ...          ...       ...   ...
454859    18  0270VDE05100   86.5            1    106.44   NaN
454860    18  0270VDE05100   86.5            2     86.74   NaN
454861    18  0270VDE05150   87.5            1    105.64   NaN
454862    18  0270VDE05150   87.5            2     88.97   NaN
454863    18  0270VDE05300   89.6            1    115.43   NaN

[454864 rows x 6 columns]

data_2022_11_07.csv 생성 완료

KeyboardInterrupt: