In [10]:
import numpy as np

"""STVM 계산(3차로 점선)"""
import pandas as pd

import os

start_interval = 1800
end_interval = 5400

vehicle_types = [100, 300, 630, 640, 650]

folder_path = r"C:\VISSIM_Workspace\network_new\network_version2\network_version2.3\network_version2.3.0\network03_mer"
mer_list = [file for file in os.listdir(folder_path) if file.endswith(".mer")]
mer_file = mer_list[0]

# 원시 데이터 기초 가공처리
with open(os.path.join(folder_path, mer_file), "r", encoding="utf-8", errors="ignore") as file:
        lines = file.readlines()
        # 데이터가 시작하는 인덱스 찾기
        data_start_idx = None

        for j, line in enumerate(lines):
            if "Measurem." in line:  # 컬럼명이 포함된 행 찾기
                data_start_idx = j
                break

        # 데이터프레임 생성
        if data_start_idx is not None:

            # 컬럼명 추출 및 공백 제거
            columns = [col.strip() for col in lines[data_start_idx].strip().split(";")]

            # 데이터 부분 추출 및 가공
            data_lines = lines[data_start_idx + 1:]  # 컬럼명 제외, 데이터 부분
            data = [line.strip().split(";") for line in data_lines if line.strip()]

            # 데이터프레임 생성
            df = pd.DataFrame(data, columns=columns)

            # 컬럼 내부 데이터 정수형 변환
            for col in columns:
                df[col] = pd.to_numeric(df[col].astype(str).str.strip())

            df = df[(df["t(Entry)"] != -1.00)].reset_index(drop=True)
            bins = np.arange(start_interval, end_interval+1, 300)
            labels = [f"{start}~{start+300}" for start in bins[:-1]]  # 구간 라벨링

            # 구간 컬럼 추가
            df["TimeGroup"] = pd.cut(df["t(Entry)"], bins=bins, labels=labels, right=False)
            display(df)


            ################ 차종별 갯수 count 및 컬럼 추가해야함


            grouped_df = df.groupby("TimeGroup", as_index=False).agg(
                평균속도 = ("v[km/h]", "mean"),
                차량수 = ("v[km/h]", "count"),
            )

,Measurem.,t(Entry),t(Exit),VehNo,Vehicle type,Line,v[km/h],b[m/s2],Occ,Pers,tQueue,VehLength[m],,TimeGroup
0,30023,1800.07,-1.0,761,100,0,107.5,0.00,0.03,1,0.0,4.21,NaN,1800~2100
1,30061,1800.01,-1.0,729,100,0,113.8,-0.25,0.09,1,0.0,4.76,NaN,1800~2100
2,10118,1800.13,-1.0,427,300,0,91.1,0.00,0.07,1,0.0,12.40,NaN,1800~2100
3,20012,1800.14,-1.0,873,100,0,104.0,0.00,0.06,1,0.0,4.01,NaN,1800~2100
4,20030,1800.19,-1.0,757,100,0,111.6,0.00,0.01,1,0.0,4.76,NaN,1800~2100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212887,30051,5399.89,-1.0,2523,100,0,94.9,-0.42,0.01,1,0.0,4.61,NaN,5100~5400
212888,10047,5399.94,-1.0,2528,100,0,116.7,0.98,0.06,1,0.0,4.21,NaN,5100~5400
212889,20099,5399.91,-1.0,2429,300,0,100.0,0.00,0.09,1,0.0,12.40,NaN,5100~5400
212890,30052,5399.99,-1.0,2501,100,0,101.2,-0.35,0.01,1,0.0,4.01,NaN,5100~5400
212891,30085,5399.96,-1.0,2481,100,0,124.5,0.00,0.04,1,0.0,4.61,NaN,5100~5400