In [11]:
import pandas as pd

df = pd.DataFrame()


df[0] = ["집"]
df[1] = ["은"]
df[2] = [" "]
df[3] = ["내"]
df[4] = ["가"]
df[5] = [" "]
df[6] = ["지"]
df[7] = ["킬"]
df[8] = ["게"]
df[9] = ["!"]
df[10] = [" "]
df[11] = ["어"]
df[12] = ["여"]
df[13] = ["떠"]
df[14] = ["나"]


display(df)

  0  1  2  3  4  5  6  7  8  9  10 11 12 13 14
0  집  은     내  가     지  킬  게  !     어  여  떠  나