In [1]:
import pandas as pd
import os

"""23ÎÖÑ vds Îç∞Ïù¥ÌÑ∞ Ïù¥ÏÉÅÏπò Ï†úÍ±∞ """

folder_path = r"C:\Users\(Ï£º)ÎÇ¥ÏùºÏù¥ÏóîÏãú ÎèÑÎ°úÍµêÌÜµÏïàÏ†ÑÏó∞Íµ¨ÏÜå\Desktop\Í∏âÍ≤ΩÏÇ¨\ÏãúÍ≥µÎèÑ\vds Îç∞Ïù¥ÌÑ∞\ÏõêÎ≥∏\11Ïõî Îç∞Ïù¥ÌÑ∞(20~23)\23"
save_path = r"C:\Users\(Ï£º)ÎÇ¥ÏùºÏù¥ÏóîÏãú ÎèÑÎ°úÍµêÌÜµÏïàÏ†ÑÏó∞Íµ¨ÏÜå\Desktop\Í∏âÍ≤ΩÏÇ¨\ÏãúÍ≥µÎèÑ\vds Îç∞Ïù¥ÌÑ∞\Ïù¥ÏÉÅÏπò Ï†úÍ±∞\11Ïõî Îç∞Ïù¥ÌÑ∞(20~23)\23"

output_files = sorted([f for f in os.listdir(folder_path) if f.endswith(".csv")], key=lambda x: int(x.split("_")[0]) if x.split("_")[0].isdigit() else 0)

for file_name in output_files:
    df = pd.read_csv(os.path.join(folder_path, file_name), encoding="euc-kr")

    df = df.drop(columns=["Í∏∞Ï§ÄÏùºÏûê", "Íµ¨Í∞Ñ", "ÎèÑÎ°úÏù¥Ï†ï", "ÍµêÌÜµÎüâ", "Ï†êÏú†Ïú®", "Ïú†Ìö®ÏÑ±(%)"])

    df = df.rename(columns={
        "Ïû•ÎπÑÎ≤àÌò∏" : "vds_id",
        "Ïû•ÎπÑÏù¥Ï†ï" : "point",
        "ÏãúÍ∞Ñ" : "hour",
        "Ï∞®Î°úÎ≤àÌò∏" : "lane_number",
        "ÏÜçÎèÑ" : "avgspeed"
    })
    df["lane_number"] = df["lane_number"].str.replace("Ï∞®Î°ú", "", regex=False)
    df["lane_number"] = df["lane_number"].astype(int)

    display(df)

    # ÏòàÏãú: ÏÜçÎèÑÍ∞íÏù¥ -1~10Ïù∏ Ìñâ Ï†úÍ±∞
    if "avgspeed" in df.columns:
        df = df[~df["avgspeed"].between(-1, 10)]

    excel_file_path = os.path.join(save_path, file_name)

    # üîπ Ïó¨Í∏∞ÏóêÏÑú cp949Î°ú Ï†ÄÏû•!
    #df.to_csv(excel_file_path, index=False, encoding="cp949")

    print(f"{file_name} ÏÉùÏÑ± ÏôÑÎ£å")

              vds_id   point  hour  lane_number  avgspeed
0       0010VDS32503  422.37     0            1     -1.00
1       0010VDS32503  422.37     0            2     -1.00
2       0010VDS32503  422.37     0            3     -1.00
3       0010VDS32503  422.37     0            5     -1.00
4       0010VDS32503  422.37     0            4     -1.00
...              ...     ...   ...          ...       ...
436651  0320VDE00100    0.00    21            2     86.42
436652  0320VDE00100    0.00    22            1    102.93
436653  0320VDE00100    0.00    22            2     94.11
436654  0320VDE00100    0.00    23            1    102.18
436655  0320VDE00100    0.00    23            2     88.06

[436656 rows x 5 columns]

VDS_Ï∞®Î°ú_1ÏãúÍ∞Ñ(20231101).csv ÏÉùÏÑ± ÏôÑÎ£å

              vds_id   point  hour  lane_number  avgspeed
0       0010VDS32503  422.37     0            3     -1.00
1       0010VDS32503  422.37     0            5     -1.00
2       0010VDS32503  422.37     0            1     -1.00
3       0010VDS32503  422.37     0            2     -1.00
4       0010VDS32503  422.37     0            4     -1.00
...              ...     ...   ...          ...       ...
434427  0320VDE00100    0.00    21            2     87.09
434428  0320VDE00100    0.00    22            1    101.08
434429  0320VDE00100    0.00    22            2     86.72
434430  0320VDE00100    0.00    23            1     99.41
434431  0320VDE00100    0.00    23            2     85.08

[434432 rows x 5 columns]

VDS_Ï∞®Î°ú_1ÏãúÍ∞Ñ(20231102).csv ÏÉùÏÑ± ÏôÑÎ£å

              vds_id   point  hour  lane_number  avgspeed
0       0010VDS32503  422.37     0            3     -1.00
1       0010VDS32503  422.37     0            5     -1.00
2       0010VDS32503  422.37     0            2     -1.00
3       0010VDS32503  422.37     0            1     -1.00
4       0010VDS32503  422.37     0            4     -1.00
...              ...     ...   ...          ...       ...
435420  0320VDE00100    0.00    21            2     93.54
435421  0320VDE00100    0.00    22            1     99.86
435422  0320VDE00100    0.00    22            2     92.51
435423  0320VDE00100    0.00    23            1     98.58
435424  0320VDE00100    0.00    23            2     85.30

[435425 rows x 5 columns]

VDS_Ï∞®Î°ú_1ÏãúÍ∞Ñ(20231103).csv ÏÉùÏÑ± ÏôÑÎ£å

              vds_id   point  hour  lane_number  avgspeed
0       0010VDS32503  422.37     0            3     -1.00
1       0010VDS32503  422.37     0            5     -1.00
2       0010VDS32503  422.37     0            2     -1.00
3       0010VDS32503  422.37     0            1     -1.00
4       0010VDS32503  422.37     0            4     -1.00
...              ...     ...   ...          ...       ...
435355  0320VDE00100    0.00    21            2     93.24
435356  0320VDE00100    0.00    22            1     94.71
435357  0320VDE00100    0.00    22            2     95.14
435358  0320VDE00100    0.00    23            1     97.22
435359  0320VDE00100    0.00    23            2     93.11

[435360 rows x 5 columns]

VDS_Ï∞®Î°ú_1ÏãúÍ∞Ñ(20231104).csv ÏÉùÏÑ± ÏôÑÎ£å

KeyboardInterrupt: