In [1]:
import gc

import numpy as np

"""
ToyNetwork 재분석
    램프 : 진출
    집계시간 : 5분
    분석시간 1800~8400
    검지기 : 841개
"""
import pandas as pd

import os

# FIX 값 모음
###################################################################################################################

path = r"C:\VISSIM_Workspace\테스트\램프0_진출램프\mer 통합"

start_interval = 1800
end_interval = 8400

weights = {
    "w1" : 1,
    "w2" : 1,
    "w3" : 1,
    "w4" : 1,
    "w5" : 1,
    "w6" : 1
}

vehicle_types = [100, 300, 630, 640, 650]

enter_line = [1]

# 램프 전 본선 검지기
before_ramp = [222]

# 램프 후 본선 검지기
after_ramp = [223]

# 유입 검지기
input_ramp = [0]

# 유출 검지기
output_ramp = [999]

###################################################################################################################

# 함수 모음
###################################################################################################################

# 속도 변화율
def speed_mean(original_df):
    copy_df = original_df.copy()

    # 램프 검지기 제외
    copy_df = copy_df[~copy_df["New_Measurement"].between(900, 910)]

    # TimeGroup, New_Measurement별 그룹화 및 속도 평균
    speed_mean_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement"])
          .agg(V_mean=("v[km/h]", "mean"), V_count=("v[km/h]", "count"))
          .reset_index()
    )
    speed_mean_df["V_next"] = speed_mean_df.groupby("TimeGroup")["V_mean"].shift(-1)
    speed_mean_df["delta_V"] = (speed_mean_df["V_next"] - speed_mean_df["V_mean"]) / speed_mean_df["V_mean"]
    speed_mean_df["delta_V"] = speed_mean_df["delta_V"].fillna(0)

    return speed_mean_df

# 밀도 변화율
def density_mean(speed_df):
    copy_df = speed_df.copy()
    density_mean_df = copy_df.assign(K = copy_df["V_count"] * 12 / copy_df["V_mean"])
    density_mean_df["K_next"] = density_mean_df.groupby("TimeGroup")["K"].shift(-1)
    density_mean_df["delta_K"] = (density_mean_df["K_next"] - density_mean_df["K"]) / density_mean_df["K"]
    density_mean_df["delta_K"] = density_mean_df["delta_K"].fillna(0)
    return density_mean_df

# 중차량 혼입률
def heavy_rate(original_df):
    copy_df = original_df.copy()

    heavy_df = (
        copy_df[copy_df["Vehicle type"].isin([630, 640, 650])]
        .groupby(["TimeGroup"])
        .size()
        .reset_index(name="heavy_count")
    )

    # TimeGroup별 총 차량 갯수 집계
    total_df = (
        copy_df.groupby(["TimeGroup"])
        .size()
        .reset_index(name="total_count")
    )

    heavy_rate_df = pd.merge(
        heavy_df,
        total_df,
        on=["TimeGroup"],
        how="left"
    )

    heavy_rate_df["rate"] = heavy_rate_df["heavy_count"] / heavy_rate_df["total_count"]
    return heavy_rate_df


# 동적 포화도
def entry_saturation(original_df):
    copy_df = original_df.copy()

    # 실측용량 C(3차로 6600)
    max_capacity = 6600
    entry_saturation_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement"])
        .size()
        .reset_index(name="entry_volume")  # 차량 수를 entry_volume이라는 컬럼명으로
    )

    # 단위가 대/시 이기 때문에 현재 5분집계 * 12
    entry_saturation_df["Phi_진입"] = entry_saturation_df["entry_volume"] * 12 / max_capacity
    return entry_saturation_df

# 램프 간섭 영향률
def rfr_rate(original_df):
    copy_df = original_df.copy()
    copy_df["TimeGroup"] = copy_df["TimeGroup"].astype(str)
    main_results=[]
    for i, (before, after) in enumerate(zip(before_ramp, after_ramp)):
        q_before = (copy_df[copy_df["New_Measurement"] == before]
                    .groupby("TimeGroup")
                    .size()
                    .reset_index(name="q_before"))

        q_after = (copy_df[copy_df["New_Measurement"] == after]
                   .groupby("TimeGroup")
                   .size()
                   .reset_index(name="q_after"))

        merged = q_before.merge(q_after, on="TimeGroup", how="outer").fillna(0)
        merged["Qm"] = (merged["q_before"] + merged["q_after"]) / 2
        main_results.append(merged)

    main_df = pd.concat(main_results, ignore_index=True)
    main_df = main_df.groupby("TimeGroup")[["Qm"]].mean().reset_index()


    ramp_results = []
    for input_, output_ in zip(input_ramp, output_ramp):
        q_in = (copy_df[copy_df["New_Measurement"] == input_]
                .groupby("TimeGroup").size().reset_index(name="q_in"))
        q_in["q_in"] = 0
        q_out = (copy_df[copy_df["New_Measurement"] == output_]
                 .groupby("TimeGroup").size().reset_index(name="q_out"))
        merged = q_in.merge(q_out, on="TimeGroup", how="outer").fillna(0)
        ramp_results.append(merged)

    ramp_df = pd.concat(ramp_results, ignore_index=True)
    ramp_df = ramp_df.groupby("TimeGroup")[["q_in", "q_out"]].mean().reset_index()


    rfr_df = pd.merge(main_df, ramp_df, on="TimeGroup", how="inner")

    # 램프 간섭 영향률 계산
    rfr_df["IR_in"] = rfr_df["q_in"] / rfr_df["Qm"]
    rfr_df["IR_out"] = rfr_df["q_out"] / rfr_df["Qm"]
    rfr_df["RFR"] = rfr_df["IR_in"] + rfr_df["IR_out"]

    # -----------------------------
    # 특정 검지기에만 RFR 반영
    # -----------------------------
    target_measurements = before_ramp   # RFR 적용 대상 검지기 번호
    all_measurements = copy_df["New_Measurement"].unique()

    expanded_df_list = []
    for m in all_measurements:
        temp = rfr_df.copy()
        temp["New_Measurement"] = m
        # 지정된 구간에만 RFR 값 유지, 나머지는 0
        temp["RFR"] = temp["RFR"] if m in target_measurements else 0
        expanded_df_list.append(temp)

    final_rfr_df = pd.concat(expanded_df_list, ignore_index=True)
    final_rfr_df = final_rfr_df.sort_values(by=["TimeGroup", "New_Measurement"]).reset_index(drop=True)
    #final_rfr_df["RFR"] = 0
    return final_rfr_df

# 진출 원활율
def output_normality(original_df):
    copy_df = original_df.copy()
    entry_df = copy_df[copy_df["New_Measurement"].isin(enter_line)][["VehNo", "t(Entry)"]]

    exit_df = copy_df[copy_df["New_Measurement"].isin(before_ramp)][["VehNo", "t(Entry)"]]

    # 차량 번호로 그룹화 후 시간의 최솟값(중복제거)
    entry_first = (
        entry_df.groupby("VehNo")["t(Entry)"].min()
        .reset_index()  # Series → DataFrame
        .rename(columns={"t(Entry)": "t_entry"})
    )

    exit_first = (
        exit_df.groupby("VehNo")["t(Entry)"].min()
        .reset_index()
        .rename(columns={"t(Entry)": "t_exit"})
    )

    # 지연시간
    merged = pd.merge(entry_first, exit_first, on="VehNo", how="inner")
    merged["delay_sec"] = merged["t_exit"] - merged["t_entry"]
    merged = merged[merged["delay_sec"] >= 0]  # 음수 제거

    # 지연시간(중앙값) → lag_bins
    if len(merged) and np.isfinite(np.nanmedian(merged["delay_sec"])): # delay_sec의 값이 유효하면
        lag_bins = int(round(np.nanmedian(merged["delay_sec"]) / 300)) # 단위시간으로 나눴을 때의 중간값 => 3(900초) => 진입한 차량이 진출을 통과하는데 평균 900초가 걸림
    else:
        lag_bins = 0  # 데이터 부족 시 동시간 매칭

    # TimeGroup별 진입/유출 카운트 집계
    entry_count = (original_df[original_df["New_Measurement"].isin(enter_line)]
                .groupby("TimeGroup").size().reset_index(name="Q_in"))
    exit_count  = (original_df[original_df["New_Measurement"].isin(before_ramp)]
                .groupby("TimeGroup").size().reset_index(name="Q_out"))

    merged_counts = pd.merge(entry_count, exit_count, on="TimeGroup", how="left")

    # Q_out을 지연 시간만큼 shift
    merged_counts["Q_out_shift"] = merged_counts["Q_out"].shift(-lag_bins)

    # F(outrate) 계산
    merged_counts["F(outrate)"] = (merged_counts["Q_out_shift"] / merged_counts["Q_in"]).fillna(0)

    all_measurements = copy_df["New_Measurement"].unique()
    expanded_list = []

    for m in all_measurements:
        temp = merged_counts.copy()
        temp["New_Measurement"] = m
        if m not in before_ramp:  # 222 이외의 검지기
            temp["F(outrate)"] = 0
        expanded_list.append(temp)

    final_df = pd.concat(expanded_list, ignore_index=True)
    final_df = final_df.sort_values(by=["TimeGroup", "New_Measurement"]).reset_index(drop=True)
    return final_df


def calculate_stvm(speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df):

    # TimeGroup 기준으로  Merge
    merged_df = (
        speed_df[["TimeGroup", "New_Measurement", "delta_V"]]
        .merge(density_df[["TimeGroup", "New_Measurement", "delta_K"]], on=["TimeGroup", "New_Measurement"])
        .merge(heavy_df[["TimeGroup", "rate"]], on=["TimeGroup"])
        .merge(entry_saturation_df[["TimeGroup", "New_Measurement", "Phi_진입"]], on=["TimeGroup", "New_Measurement"])
        .merge(rfr_df[["TimeGroup", "New_Measurement", "RFR"]], on=["TimeGroup", "New_Measurement"])
        .merge(normality_df[["TimeGroup", "New_Measurement", "F(outrate)"]], on=["TimeGroup", "New_Measurement"])
    )

    display("meged_df : ", merged_df)

    merged_df["STVM"] = (
        weights["w1"] * merged_df["delta_V"] +
        weights["w2"] * merged_df["delta_K"] +
        weights["w3"] * merged_df["rate"] +
        weights["w4"] * merged_df["Phi_진입"] +
        weights["w5"] * merged_df["RFR"] +
        weights["w6"] * merged_df["F(outrate)"]
    )
    merged_df = modify_frame(merged_df)
    return merged_df


def calculate_z_score(stvm_df):
    copy_df = stvm_df.copy()

    # 평균
    mean_stvm = copy_df["STVM"].mean(skipna=True)

    # 표준편차
    std_stvm = copy_df["STVM"].std(skipna=True)

    # Z-Score 계산
    copy_df["Z-Score"] = (copy_df["STVM"] - mean_stvm) / std_stvm
    z_max = copy_df["Z-Score"].max()
    z_min = copy_df["Z-Score"].min()

    copy_df["환산점수"] = copy_df["Z-Score"].apply(lambda z : z_to_score(z, z_min, z_max))

    stvm_df = pd.pivot(copy_df, index="TimeGroup", columns= "New_Measurement", values="환산점수")
    return stvm_df

def modify_frame(df):
    modify_df = df.copy()

    modify_df["StartTime"] = modify_df["TimeGroup"].str.split("~").str[0].astype(int)
    modify_df = modify_df[(modify_df["StartTime"] >=1800) &(modify_df["StartTime"] < 5400)]
    modify_df = modify_df[~modify_df["New_Measurement"].isin([280,999])]
    return modify_df


def variable_timegroup_avg(stvm_df):
    copy_df = stvm_df.copy()
    variable_time_df = copy_df.groupby("TimeGroup")[["delta_V", "delta_K", "rate", "Phi_진입", "RFR", "F(outrate)"]].mean()
    return variable_time_df

def variable_total_avg(variable_df):
    variable_total_df = pd.DataFrame([variable_df.mean(numeric_only=True)])
    return variable_total_df

def speed_density_avg(density_df):
    copy_df = density_df.copy()
    avg_df = modify_frame(copy_df)
    avg_df = pd.DataFrame([avg_df.mean(numeric_only=True)])
    avg_df = avg_df[["V_mean", "K"]]
    return avg_df

def pivot_table(df, value, preprocess=None):
    copy_df = df.copy()
    if preprocess :
        copy_df = preprocess(copy_df)
    return copy_df.pivot(index="TimeGroup", columns="New_Measurement", values=value)

def weighted_avg_speed(original_df):
    copy_df = original_df.copy()
    # TimeGroup, New_Measurement별 그룹화 및 속도 평균
    speed_mean_df = (
        copy_df.groupby(["TimeGroup", "New_Measurement", "Vehicle type"])
          .agg(V_mean=("v[km/h]", "mean"), V_count=("v[km/h]", "count"))
          .reset_index()
    )
    speed_mean_df["std_group"] = speed_mean_df.groupby(["TimeGroup", "New_Measurement"])["V_mean"].transform(lambda s: s.std(ddof=0))
    speed_mean_df["cv"] = speed_mean_df["std_group"] / speed_mean_df["V_mean"]
    speed_mean_df["w"] = 1 / speed_mean_df["cv"]
    speed_mean_df["w*v"] = speed_mean_df["w"] * speed_mean_df["V_mean"]

    weighted_result = (
        speed_mean_df.groupby(["TimeGroup","New_Measurement"])
          .apply(lambda g: g["w*v"].sum() / g["w"].sum())
          .reset_index(name="Weighted_Avg_Speed")
    )

    return weighted_result

def save_to_excel(excel_df, folder_path, file_name, i):
        excel_folder_path = os.path.join(folder_path, file_name)
        os.makedirs(excel_folder_path, exist_ok=True)
        excel_file_name = f"{file_name}_{i+1}.xlsx"
        excel_file_path = os.path.join(excel_folder_path, excel_file_name)
        excel_df.to_excel(excel_file_path, index=True)
        print(f"{excel_file_name} 생성 완료")

def z_to_score(z, z_min, z_max):
    if 1.645 <= z <= z_max:
        return 50 + ((95 + 5 * ((z - 1.645) / (z_max - 1.645))) * 0.5)
    elif 1.282 <= z < 1.645:
        return 50 + ((90 + 5 * ((z - 1.282) / (1.645 - 1.282))) * 0.5)
    elif 1.038 <= z < 1.282:
        return 50 + ((85 + 5 * ((z - 1.038) / (1.282 - 1.038))) * 0.5)
    elif 0.842 <= z < 1.038:
        return 50 + ((80 + 5 * ((z - 0.842) / (1.038 - 0.842))) * 0.5)
    elif 0.676 <= z < 0.842:
        return 50 + ((75 + 5 * ((z - 0.676) / (0.842 - 0.676))) * 0.5)
    elif 0.526 <= z < 0.676:
        return 50 + ((70 + 5 * ((z - 0.526) / (0.676 - 0.526))) * 0.5)
    elif 0.387 <= z < 0.526:
        return 50 + ((65 + 5 * ((z - 0.387) / (0.526 - 0.387))) * 0.5)
    elif 0.255 <= z < 0.387:
        return 50 + ((60 + 5 * ((z - 0.255) / (0.387 - 0.255))) * 0.5)
    elif -0.255 <= z < 0.255:
        return 50 + ((40 + 5 * ((z + 0.255) / (0.255 + 0.255))) * 0.5)
    elif -0.387 <= z < -0.255:
        return 50 + ((35 + 5 * ((z + 0.387) / (-0.255 + 0.387))) * 0.5)
    elif -0.526 <= z < -0.387:
        return 50 + ((30 + 5 * ((z + 0.526) / (-0.387 + 0.526))) * 0.5)
    elif -0.676 <= z < -0.526:
        return 50 + ((25 + 5 * ((z + 0.676) / (-0.676 + 0.842))) * 0.5)
    elif -0.842 <= z < -0.676:
        return 50 + ((20 + 5 * ((z + 0.842) / (-0.676 + 0.842))) * 0.5)
    elif -1.038 <= z < -0.842:
        return 50 + ((15 + 5 * ((z + 1.038) / (-0.842 + 1.038))) * 0.5)
    elif -1.282 <= z < -1.038:
        return 50 + ((10 + 5 * ((z + 1.282) / (-1.038 + 1.282))) * 0.5)
    elif -1.645 <= z < -1.282:
        return 50 + ((5 + 5 * ((z + 1.645) / (-1.282 + 1.645))) * 0.5)
    elif z_min <= z < -1.645:
        return 50 + ((0 + 5 * ((z + z_min) / (-1.645 + z_min))) * 0.5)
    else:
        return np.nan
###################################################################################################################

folder_path = path
mer_list = [file for file in os.listdir(folder_path) if file.endswith(".mer")]

grouped_df = pd.DataFrame()
result_df = pd.DataFrame()


for i in range(len(mer_list)):
    mer_file = mer_list[i]
    with open(os.path.join(folder_path, mer_file), "r", encoding="utf-8", errors="ignore") as file:
            lines = file.readlines()
            # 데이터가 시작하는 인덱스 찾기
            data_start_idx = None

            for j, line in enumerate(lines):
                if "Measurem." in line:  # 컬럼명이 포함된 행 찾기
                    data_start_idx = j
                    break

            # 데이터프레임 생성
            if data_start_idx is not None:

                # 컬럼명 추출 및 공백 제거
                columns = [col.strip() for col in lines[data_start_idx].strip().split(";")]

                # 데이터 부분 추출 및 가공
                data_lines = lines[data_start_idx + 1:]  # 컬럼명 제외, 데이터 부분
                data = [line.strip().split(";") for line in data_lines if line.strip()]

                # 데이터프레임 생성
                df = pd.DataFrame(data, columns=columns)

                # 컬럼 내부 데이터 정수형 변환
                df = df.apply(pd.to_numeric, errors="coerce")

                original_df = df[(df["t(Entry)"] != -1.00)].reset_index(drop=True)


                #불필요 컬럼 제거
                original_df.drop(columns=["b[m/s2]", "tQueue", "Occ", "Pers"], inplace=True, errors="ignore")

                original_df["New_Measurement"] = original_df["Measurem."] % 1000

                bins = np.arange(start_interval, end_interval+1, 300)
                labels = [f"{start}~{start+300}" for start in bins[:-1]]  # 구간 라벨링

                # 구간 나누기 및 컬럼 추가
                original_df["TimeGroup"] = pd.cut(original_df["t(Entry)"], bins=bins, labels=labels, right=False)

                # 속도변화율
                speed_df = speed_mean(original_df)

                # 밀도변화율
                density_df = density_mean(speed_df)

                # 중차량 혼입률
                heavy_df = heavy_rate(original_df)

                # 동적 포화도
                entry_saturation_df = entry_saturation(original_df)

                # 램프 간섭 영향률
                rfr_df = rfr_rate(original_df)

                # 진출 원활율
                normality_df = output_normality(original_df)

                # STVM 계산
                stvm_df = calculate_stvm(speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df)
                #display("stvm_df : ", stvm_df)

                # Z-Score 계산
                z_score_df = calculate_z_score(stvm_df)
                #display("z_score_df : ", z_score_df)
                save_to_excel(z_score_df, folder_path, "환산점수", i)

                # STVM 피봇
                #stvm_pivot_df = pivot_table(stvm_df, "STVM")
                #display("stvm_pivot_df : ", stvm_pivot_df)
                #save_to_excel(stvm_pivot_df, folder_path, "STVM", i)

                # 속도값 피봇
                #speed_pivot_df = pivot_table(speed_df, "V_mean", preprocess=modify_frame)
                #display("speed_pivot_df : ", speed_pivot_df)
                #save_to_excel(speed_pivot_df, folder_path, "속도값", i)

                # 메모리 정리
                #del df, original_df, speed_df, density_df, heavy_df, entry_saturation_df, rfr_df, normality_df, stvm_df, z_score_df
                gc.collect()

'meged_df : '

,TimeGroup,New_Measurement,delta_V,delta_K,rate,Phi_진입,RFR,F(outrate)
0,1800~2100,1,-0.000180,0.003955,0.047803,0.481818,0.0,0.0
1,1800~2100,2,0.000626,-0.000626,0.047803,0.483636,0.0,0.0
2,1800~2100,3,-0.005927,0.017308,0.047803,0.483636,0.0,0.0
3,1800~2100,4,-0.004090,-0.003359,0.047803,0.489091,0.0,0.0
4,1800~2100,5,-0.002341,-0.008916,0.047803,0.485455,0.0,0.0
...,...,...,...,...,...,...,...,...
6133,8100~8400,277,0.001134,-0.006503,0.045551,0.338182,0.0,0.0
6134,8100~8400,278,0.000201,-0.005605,0.045551,0.336364,0.0,0.0
6135,8100~8400,279,0.011802,-0.011664,0.045551,0.334545,0.0,0.0
6136,8100~8400,280,-0.058901,-0.705478,0.045551,0.334545,0.0,0.0
6137,8100~8400,999,0.000000,0.000000,0.045551,0.092727,0.0,0.0

환산점수_1.xlsx 생성 완료

'meged_df : '

,TimeGroup,New_Measurement,delta_V,delta_K,rate,Phi_진입,RFR,F(outrate)
0,1800~2100,1,0.002193,-0.007939,0.051957,0.630909,0.0,0.0
1,1800~2100,2,0.000414,-0.000413,0.051957,0.627273,0.0,0.0
2,1800~2100,3,-0.004247,-0.004467,0.051957,0.627273,0.0,0.0
3,1800~2100,4,-0.006591,0.009578,0.051957,0.621818,0.0,0.0
4,1800~2100,5,-0.005249,0.008208,0.051957,0.623636,0.0,0.0
...,...,...,...,...,...,...,...,...
6133,8100~8400,277,-0.000813,0.004241,0.053222,0.530909,0.0,0.0
6134,8100~8400,278,-0.002529,-0.007729,0.053222,0.532727,0.0,0.0
6135,8100~8400,279,0.015701,-0.025644,0.053222,0.527273,0.0,0.0
6136,8100~8400,280,-0.034822,-0.768958,0.053222,0.521818,0.0,0.0
6137,8100~8400,999,0.000000,0.000000,0.053222,0.116364,0.0,0.0

환산점수_2.xlsx 생성 완료

'meged_df : '

,TimeGroup,New_Measurement,delta_V,delta_K,rate,Phi_진입,RFR,F(outrate)
0,1800~2100,1,0.012894,-0.005523,0.051097,0.747273,0.0,0.0
1,1800~2100,2,0.005242,-0.005215,0.051097,0.752727,0.0,0.0
2,1800~2100,3,-0.000297,0.005130,0.051097,0.752727,0.0,0.0
3,1800~2100,4,-0.004152,0.004169,0.051097,0.756364,0.0,0.0
4,1800~2100,5,-0.001379,-0.005840,0.051097,0.756364,0.0,0.0
...,...,...,...,...,...,...,...,...
6133,8100~8400,277,0.001527,0.013467,0.044769,0.605455,0.0,0.0
6134,8100~8400,278,0.001891,0.004019,0.044769,0.614545,0.0,0.0
6135,8100~8400,279,0.015116,-0.009096,0.044769,0.618182,0.0,0.0
6136,8100~8400,280,-0.096242,-0.721760,0.044769,0.621818,0.0,0.0
6137,8100~8400,999,0.000000,0.000000,0.044769,0.156364,0.0,0.0

환산점수_3.xlsx 생성 완료

'meged_df : '

,TimeGroup,New_Measurement,delta_V,delta_K,rate,Phi_진입,RFR,F(outrate)
0,1800~2100,1,0.041039,-0.048044,0.05244,1.012727,0.0,0.0
1,1800~2100,2,0.031220,-0.033789,0.05244,1.003636,0.0,0.0
2,1800~2100,3,0.011411,-0.016676,0.05244,1.000000,0.0,0.0
3,1800~2100,4,-0.001511,0.010668,0.05244,0.994545,0.0,0.0
4,1800~2100,5,-0.006650,0.004870,0.05244,1.003636,0.0,0.0
...,...,...,...,...,...,...,...,...
6133,8100~8400,277,0.000862,0.011353,0.05211,0.743636,0.0,0.0
6134,8100~8400,278,-0.000416,0.012498,0.05211,0.752727,0.0,0.0
6135,8100~8400,279,0.024373,-0.012144,0.05211,0.761818,0.0,0.0
6136,8100~8400,280,-0.050497,-0.759060,0.05211,0.770909,0.0,0.0
6137,8100~8400,999,0.000000,0.000000,0.05211,0.176364,0.0,0.0

환산점수_4.xlsx 생성 완료

'meged_df : '

,TimeGroup,New_Measurement,delta_V,delta_K,rate,Phi_진입,RFR,F(outrate)
0,1800~2100,1,0.000020,-0.006642,0.050597,0.274545,0.0,0.0
1,1800~2100,2,0.000083,-0.026747,0.050597,0.272727,0.0,0.0
2,1800~2100,3,-0.000772,0.000773,0.050597,0.265455,0.0,0.0
3,1800~2100,4,-0.000563,-0.006290,0.050597,0.265455,0.0,0.0
4,1800~2100,5,-0.000773,0.014577,0.050597,0.263636,0.0,0.0
...,...,...,...,...,...,...,...,...
6133,8100~8400,277,0.006978,0.000537,0.066877,0.241818,0.0,0.0
6134,8100~8400,278,-0.002213,0.002218,0.066877,0.243636,0.0,0.0
6135,8100~8400,279,0.010075,-0.002586,0.066877,0.243636,0.0,0.0
6136,8100~8400,280,-0.021526,-0.780459,0.066877,0.245455,0.0,0.0
6137,8100~8400,999,0.000000,0.000000,0.066877,0.052727,0.0,0.0

환산점수_5.xlsx 생성 완료