In [1]:
import os
import pandas as pd
"""_vehicle_output 파일에서 데이터 가공 (차종별 평균_ 지상부)"""
output_path = r"C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별"
output_files = sorted([f for f in os.listdir(output_path) if f.endswith(".xlsx")], key=lambda x: int(x.split("_")[0]) if x.split("_")[0].isdigit() else 0)
print("vehicle_files : ", output_files)
mer_list = []
vehicle_type_list = [100, 300, 630, 640, 650]
for i in range(len(vehicle_type_list)):
    for j in range(len(output_files)):
        df = pd.read_excel(os.path.join(output_path, output_files[j]))
        print("read_excel : ", output_files[j])
        df["NEW"] = df["Measurem."] % 1000

        filtered_df = df[df["Vehicle type"] == vehicle_type_list[i]]

        # 기존 Measurem. 컬럼의 값이 같은 것끼리 평균 계산
        df_grouped = filtered_df.groupby("Measurem.").mean()

        new_grouped_df = df_grouped.groupby("NEW").mean().reset_index()

        df = new_grouped_df[["NEW", "v[km/h]"]]

        # .T를 하는 순간 NEW라는 컬럼은 사라진다 -> 인덱스가 0부터 시작하게 됨
        df = df.set_index('NEW').T

        entry_ground_df = df.iloc[:, 0:10]
        start_df = df.iloc[:, 10:40]
        mid_df = df.iloc[:, 40:240]
        end_df = df.iloc[:, 240:270]
        exit_ground_df = df.iloc[:, 270:280]
        total_df = df.iloc[:, :280]

        df1 = entry_ground_df.values.mean()
        df2 = start_df.values.mean()
        df3 = mid_df.values.mean()
        df4 = end_df.values.mean()
        df5 = exit_ground_df.values.mean()
        df6 = total_df.values.mean()
        columns = ["파일명", "지상부(진입)", "진입부", "본선부", "진출부", "지상부(진출)", "전체"]

        merged_df = pd.DataFrame([[output_files[j], df1, df2, df3, df4, df5, df6]], columns=columns)
        display(merged_df)

        mer_list.append(merged_df)
    final_df = pd.concat(mer_list, ignore_index=True).round(3)

    excel_path = os.path.join(output_path, "vehicle_type_output")
    print("excel_path : ", excel_path)
    if not os.path.exists(excel_path):
        os.makedirs(excel_path)
    excel_file_path = os.path.join(excel_path, f"{vehicle_type_list[i]}_output.xlsx")
    final_df.to_excel(excel_file_path, index=False)
    print("파일 생성 : ", excel_file_path)
    mer_list = []

print("작업이 완료 되었습니다.")

vehicle_files :  ['1_vehicle_output.xlsx', '2_vehicle_output.xlsx']
read_excel :  1_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,1_vehicle_output.xlsx,106.902383,105.761304,105.456163,105.016404,105.410754,105.491768

read_excel :  2_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,2_vehicle_output.xlsx,101.048828,98.57417,96.886458,51.857931,93.528601,92.271532

excel_path :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output
파일 생성 :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output\100_output.xlsx
read_excel :  1_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,1_vehicle_output.xlsx,104.921696,102.692323,100.106247,92.775072,98.536231,99.713752

read_excel :  2_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,2_vehicle_output.xlsx,97.616266,95.624021,93.570327,46.995596,89.228779,88.789659

excel_path :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output
파일 생성 :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output\300_output.xlsx
read_excel :  1_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,1_vehicle_output.xlsx,104.822911,104.288274,103.746508,98.732836,103.537458,103.298352

read_excel :  2_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,2_vehicle_output.xlsx,99.609162,97.351572,95.847572,47.689499,90.121088,90.778747

excel_path :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output
파일 생성 :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output\630_output.xlsx
read_excel :  1_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,1_vehicle_output.xlsx,85.523933,86.005902,86.935431,86.08345,87.144696,86.701618

read_excel :  2_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,2_vehicle_output.xlsx,86.228965,86.215964,85.160635,47.019353,82.093611,81.115758

excel_path :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output
파일 생성 :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output\640_output.xlsx
read_excel :  1_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,1_vehicle_output.xlsx,82.9,83.39,82.432479,84.772083,85.054583,82.896086

read_excel :  2_vehicle_output.xlsx

,파일명,지상부(진입),진입부,본선부,진출부,지상부(진출),전체
0,2_vehicle_output.xlsx,85.349827,85.413176,84.209331,46.856016,81.534279,80.281368

excel_path :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output
파일 생성 :  C:\Users\(주)내일이엔시 도로교통안전연구소\Desktop\초장대 K-지하고속도로 인프라 안전 및 효율 향상 기술 개발(2차년도)\시뮬레이션 분석자료 모음\자료정리(3차로_점선_주행행태 반영)_250818\시뮬레이션 분석 자료_V2.9\중차량,종단경사,교통량\차종별\vehicle_type_output\650_output.xlsx
작업이 완료 되었습니다.